<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h1 class="page-header">404
                <small>Page Not Found</small>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12 page-nofound">
            <p>The 404 or Not Found error message is an HTTP standard response code indicating that the client was able to communicate with a given server, but the server could not find what was requested.</p>
            <p></p>
            <p class="error-404">OOPS...</p>

            <p class="lead">The page you're looking for could not be found.</p>
            
        </div>

    </div>

</div>
<!-- /.container -->
