<div class="description-title-div ticket-block-div menubar-div">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <label for="input1" class="label-name required">Ticket Name</label>
    </div>
    <div class="col-md-8 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <input type="text" name="ticket_name" placeholder="Enter Ticket Type Name. Ex. General Admission" class="form-control" id="ticket_name">
    </div>
    <div class="col-md-2 col-sm-3 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <label for="input1" class="label-comment">0 of 30</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <label for="input10" class="label-name">Ticket Description</label>
    </div>
    <div class="col-md-8 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <!-- <textarea name="ticket_description" class="form-control" rows="10" id="ticket_description" placeholder="Enter Ticket Description"></textarea> -->
      <div class="wysiwig-editor">
        <trix-editor name="ticket_description" id="ticket_description" angular-trix ng-model="foo" class="trix-content"></trix-editor>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <label for="input10" class="label-comment">0 of 100</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <label for="input5" class="label-name required">Type</label>
    </div>
    <div class="col-md-3 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <input type="text" name="select_type" placeholder="Select Type" class="form-control" id="select_type">
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-md-2 col-sm-3">
      <label for="input6" class="label-name required">Price</label>
    </div>
    <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <input type="text" name="price" placeholder="0.00" class="form-control" id="price">
    </div>
    <div class="col-md-2 col-sm-3 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <label for="input6" class="label-comment">0 of 6</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <label for="input5" class="label-name required">Quantity</label>
    </div>
    <div class="col-md-3 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <input type="text" name="quantity" placeholder="Quantity Available" class="form-control" id="quantity">
    </div>
    <div class="col-md-7 col-sm-12 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <label for="input6" class="label-comment">0 of 9</label>
    </div>
  </div>
  <div class="row store-down-bottom">
    <a class="btn btn-block trans-buy-button inline-buy-button store-down-bottom" href="#/event" style="right:15px;">Add</a>
  </div>
</div>
