<div id="demo" ng-controller="LMenuController" class="home1">
  <div ng-include='"partials/account_menu.html"'></div>

  <ul ng-class="{'sidenav':toggle_menu_flag, 'sidenav sidenav-toggle':!toggle_menu_flag}">
    <li ng-class="getClass('/event_information')"><a href="#event_information">Dashboard</a></li>
    <li ng-class="{'sidenav-collapse':toggle_events, 'sidenav-expand':!toggle_events}" ng-click="setToggle('toggle_events')">
      <a href="">Events</a>
      <ul class="sidenav-submenu">
        <li ng-class="getClass('/upcoming_events')"><a href="#upcoming_events">Upcoming Events</a></li>
        <li ng-class="getClass('/past_events')"><a href="#past_events">Past Events</a></li>
      </ul>
    </li>
    <li ng-class="{'sidenav-collapse':toggle_order, 'sidenav-expand':!toggle_order}" ng-click="setToggle('toggle_order')">
      <a href="">Orders</a>
      <ul class="sidenav-submenu">
        <li ng-class="getClass('/event_order')"><a href="#event_order">Recent Orders</a></li>
      </ul>
    </li>
    <li ng-class="{'sidenav-collapse':toggle_talents, 'sidenav-expand':!toggle_talents}" ng-click="setToggle('toggle_talents')">
      <a href="">Talents</a>
      <ul class="sidenav-submenu">
        <li ng-class="getClass('/add_talents')"><a href="#add_talents">Add Talent</a></li>
      </ul>
    </li>
    <li ng-class="{'sidenav-collapse':toggle_report, 'sidenav-expand':!toggle_report}" ng-click="setToggle('toggle_report')">
      <a href="">Report</a>
      <ul class="sidenav-submenu">
        <li ng-class="getClass('/order_report')"><a href="#order_report">Order Report</a></li>
        <li ng-class="getClass('/sale_report')"><a href="#sale_report">Ticket Sales</a></li>
      </ul>
    </li>
    <li ng-class="getClass('/digital_market')"><a href="#digital_market">Digital Market</a></li>
    <li ng-class="getClass('/box_office')"><a href="#box_office">Box Office</a></li>
    <li ng-class="getClass('/service')"><a href="#service">Service</a></li>
    <li ng-class="getClass('/allyhub')"><a href="#allyhub">Allyhub</a></li>
    <li ng-class="getClass('/messages')"><a href="#messages">Messages</a></li>
    <li ng-class="{'sidenav-collapse':toggle_settings, 'sidenav-expand':!toggle_settings}" ng-click="setToggle('toggle_settings')">
      <a href="">Settings</a>
      <ul class="sidenav-submenu">
        <li ng-class="getClass('/profile_settings')"><a href="#profile_settings">Profile</a></li>
        <li ng-class="getClass('/password_settings')"><a href="#password_settings">Password</a></li>
        <li ng-class="getClass('/payments_settings')"><a href="#payments_settings">Payments</a></li>
      </ul>
    </li>
  </ul>
</div>