
<!-- Slider -->
<div class="container-slide">
    <div id="boxgallery4" class="boxgallery" data-effect="effect-3">
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 1"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 2"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 3"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 4"/></div>	
	</div>
	
    <div class="slide-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3>A fully responsive theme and clean design for your success!</h3>
               
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#"><i class="fa fa-power-off"></i>Get in touch!</a>
               
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
</div>

<div class="home4 section wave">
  <div class="wather-ground"></div>
    <div class="container">
        <div class="row banner-info">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Our <span>Services</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
            <div class="col-lg-12 col-md-12 home4-percentage">
				<div class="col-lg-3 col-md-3">
					<div class="fact-icon"><span class="icon-layers"></span></div>
						<h3 class="light uppercase">Parallax Sections</h3>
                        <p>Parallax sections which will really attract the users attention.</p>
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3">
					<div class="fact-icon fact-icon-color2"><span class=" icon-tools-2"></span></div>
						<h3 class="light uppercase">Quality Support</h3>
                        <p>Parallax sections which will really attract the users attention.</p>
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3">
					<div class="fact-icon fact-icon-color3"><span class="icon-mobile"></span></div>
						<h3 class="light uppercase">Responsive Layout</h3>
                        <p>Parallax sections which will really attract the users attention.</p>
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3">
					<div class="fact-icon fact-icon-color4"><span class=" icon-linegraph"></span></div>
						<h3 class="light uppercase">Modern Scripts</h3>
                        <p>Parallax sections which will really attract the users attention.</p>
				</div><!-- End Factor -->
				<div class="clear"></div>
			</div>

        </div>

        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section home4-portfolio">

    <div class="container">

        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
                <div class="group filter-button-top">
			            <ul class="filter group albumFilter"> 
				            <li ng-click="myFilter = null" class="active">ALL</li> 
				            <li ng-click="myFilter = {category: 'mac'}" >CREATIVE</li> 
				            <li ng-click="myFilter = {category: 'ipad'}" >BUSINESS</li> 
				            <li ng-click="myFilter = {category: 'phone'}" >LIFE STYLE</li> 
				            <li ng-click="myFilter = {category: 'sound'}" >NATURE</li> 
			            </ul> 
	            </div>
      </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <div id="cbp-vm" class="activegrid"><!--nav-pills nav-stacked rectangle-list-->
            <ul id="product" class="" ng-controller="dataImagesWork">
                <li class="my-gallery-animation"  ng-repeat="product in images_work | filter:myFilter" >
                    <div class="img_holder">
                               <div class="overlay"> 
                                
                                <div class="c-loc"><a class="icon fancybox-effects-d" data-fancybox-group="button" href="images/{{product.src}}"><i class="fa fa-eye"></i> </a></div>
                                    <a class="title" href=""> {{product.name}}  </a>
                                </div> 
                                <img ng-src="images/{{product.src}}" alt="{{product.name}}" />
                        </div> 
                   
                </li> 
            </ul>           
    </div>
        
</div>
<!-- /.section -->

<!-- SECTION TEAM -->
<div id="clients-home4" class="parallax-texture">
    <div class="black-shadow"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 team">
            <h1 class="section-title">Our <span>Team</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x290" alt="" />                   
                    <div class="content">
                        <p>A wonderful serenity has taken possession.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div> 

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x290" alt="" />
                    <div class="content">
                        <p>A wonderful serenity has taken possession.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x290" alt="" />
                    <div class="content">
                        <p>A wonderful serenity has taken possession.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x290" alt="" />
                    <div class="content">
                        <p>A wonderful serenity has taken possession.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div>
            </div>
          </div>
     </div>
</div>

<div class="section-images">
   
    <div class="container">

        <div class="row">
            <div id="screen-macbook" class="col-lg-6 col-md-6">
                <img src="images/macbook.png" alt="" />
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Amazing & Powerfull Design</h2>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis <a href="#">dolor repellendus.</a> 
                Temporibus autem cum soluta nobis est eligendi quibusdam et aut officiis debitis autem cum soluta nobis est aut optio cumque nihil.
                </p>
                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                  Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                </p>
               <p>
                Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
   
</div>
<!-- /.section-colored -->

<!-- SECTION TESTIMONIALS-->
<div id="infoCompany-home4" class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="text-center">
               <h1 class="section-title">Our <span>Testimonials</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
              </div>
                <div id="testimonials">
                       
                          <div owlcarousel id="owl-demo" class="owl-carousel">
                            <div class="item">
                                 <img src="http://placehold.it/300x290" alt="" />
                                 <div class="testimon-desc arrow_box">
                                      <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                      <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                      <p class="nm-name">- Brian Rood</p>
                                </div>
                            </div>
                            <div class="item">
                                 <img src="http://placehold.it/300x290" alt="" />
                                 <div class="testimon-desc arrow_box">
                                      <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                      <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                      <p class="nm-name">- Miki Rood</p>
                                 </div>
                           </div>
                            <div class="item">
                                <img src="http://placehold.it/300x290" alt="" />
                                <div class="testimon-desc arrow_box">
                                    <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                      <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                      <p class="nm-name">- Robert Rood</p>
                                </div>
                            </div>
                    </div>
                </div>
                 
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="home4-city-bg">
    
      <div class="well">
        <div class="container">
            <div class="row row-box">
                <div class="col-lg-12 col-md-12">
                  <div class="content-contact-phone">
                    <span class="icon-anchor"></span>
                    <h4>041-123 456 765</h4>
                    <p>ANGULA ST. ROAD EVNUE SN34 LONDON</p>
                    <p><a href="mailto:support@angula.com" class="mail-text">angula@example.com</a></p>
                  </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script type="text/javascript">
    /**************  Animated images portfolio  ************************/
    $(document).ready(function () {
        $(".img-prt").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        }
        );
    });
</script>


<!-- Script  SlideShow -->
<script type="text/javascript">
    new BoxesFx(document.getElementById('boxgallery4'));
</script>
<!-- Filter Images--><script type="text/javascript">    
$('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });</script><script type="text/javascript">
    $(".fancybox-effects-d").fancybox({
        padding: 0,

        openEffect: 'elastic',
        openSpeed: 150,

        closeEffect: 'elastic',
        closeSpeed: 150,

        closeClick: true,

        helpers: {
            css: {
                'background': 'rgba(238,238,238,0.85)'
            },
            overlay: {
                locked: false
            }
        }
    });
</script>