
<!-- Slider -->
<div class="container-slide">
    <div id="boxgallery5" class="boxgallery" data-effect="effect-3">
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 1"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 2"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 3"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 4"/></div>	
	</div>
	<header class="codrops-header">
		
		<nav class="codrops-demos">
			<a href="#/">Internal</a>
			<a href="#/home2">Lateral</a>
			<a class="current-demo" href="#/home3">Fall</a>
		</nav>
	</header>

</div>

<div class="home4 section wave">
  <div class="wather-ground"></div>
    <div class="container">
        <div class="row banner-info">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Our <span>Services</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
            <div class="col-lg-12 col-md-12 home5-percentage">
				<div class="col-lg-3 col-md-3">
                  <div class="angula-box-5">
					<div class="fact-icon"><span class="icon-layers"></span></div>
						<h3 class="light uppercase">AngularJs</h3>
                        <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                        <a class="btn btn-lg btn-primary" href="#">Read more</a>
                    </div>
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3">
                  <div class="angula-box-5">
					<div class="fact-icon"><span class=" icon-tools-2"></span></div>
						<h3 class="light uppercase">Quality Support</h3>
                        <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                        <a class="btn btn-lg btn-primary" href="#">Read more</a>
                    </div>
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3">
                    <div class="angula-box-5">
					<div class="fact-icon"><span class="icon-mobile"></span></div>
						<h3 class="light uppercase">Extensibility</h3>
                        <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                        <a class="btn btn-lg btn-primary" href="#">Read more</a>
                    </div>
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3">
                    <div class="angula-box-5">
					<div class="fact-icon"><span class=" icon-linegraph"></span></div>
						<h3 class="light uppercase">Modern Scripts</h3>
                        <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                        <a class="btn btn-lg btn-primary" href="#">Read more</a>
                    </div>
				</div><!-- End Factor -->
				<div class="clear"></div>
			</div>

        </div>

        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="home5-city-bg">
    <div class="home5-effect-cover"></div>
      <div class="home5-well">
        <span class="effectopacity"></span>
          <div class="container">
            <div class="col-md-3 paral-logo">
                <!--<div class="col-lg-8 col-md-8">-->
                    <img class="" src="images/logo_big.png" alt="">
                <!--</div>-->
                
            </div>
            <div class="col-md-6 home5-advert">
              <p><span class=" icon-recycle"></span>Angula dynamic html</p>
              <p><span class=" icon-globe"></span>DOM manipulation</p>
              <p><span class=" icon-aperture"></span>MVW Framework</p>
            </div>
        </div>
    </div>
</div>

<div class="section home5-portfolio">

    <div class="container">

        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
                <div class="group filter-button-top">
			            <ul class="filter group albumFilter"> 
				            <li ng-click="myFilter = null" class="active">ALL</li> 
				            <li ng-click="myFilter = {category: 'mac'}" >CREATIVE</li> 
				            <li ng-click="myFilter = {category: 'ipad'}" >BUSINESS</li> 
				            <li ng-click="myFilter = {category: 'phone'}" >LIFE STYLE</li> 
				            <li ng-click="myFilter = {category: 'sound'}" >NATURE</li> 
			            </ul> 
	            </div>
      </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <div id="cbp-vm" class="activegrid">
            <ul id="product" class="" ng-controller="dataImagesWork2">
                <li class="my-gallery-animation-home5" ng-repeat="product in images_work | filter:myFilter" >
                    <img ng-src="images/{{product.src}}" alt="{{product.name}}" />
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="images/{{product.src}}"><i class="fa fa-search"></i></a><br />
                        <a class="title" href=""> {{product.name}}  </a>
                    </div>
                </li> 
            </ul>           
    </div>
        
</div>
<!-- /.section -->

<!-- SECTION IPHONE -->
<div id="iphone-home5" class="parallax-texture">
    <div class="container">
      <div class="row">
       <div class="col-md-5">
        <img src="images/depth-cart.png" alt="" />
       </div>
       <div class="col-md-7 iphone-desc">
        <ul>
         <li><p><span class=" icon-strategy"></span>On-line store no code server side</p></li>
         <li><p><span class=" icon-phone"></span>Your Shopping Cart in one hand</p></li>
         <li><p><span class=" icon-search"></span>On-line store Html5 - AngularJs</p></li>
         <li><p><span class=" icon-layers"></span>Framework MVVM</p></li>
         <li><p><span class=" icon-expand"></span>It is fully extensible </p></li>
        </ul>
       </div>
        
    </div>
    <!-- /.container -->

</div>

</div>

<div class="section-images">
   
    <div class="container">

        <div class="row">
            <div id="screen-macbook" class="col-md-6 menu-adwertising">
                <figure class="hero-image hero-index-1"></figure>
                <figure class="hero-image hero-index-2"></figure>
                <figure class="hero-image hero-index-3"></figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Amazing & Powerfull Design</h2>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis <a href="#">dolor repellendus.</a> 
                Temporibus autem cum soluta nobis est eligendi quibusdam et aut officiis debitis autem cum soluta nobis est aut optio cumque nihil.
                </p>
                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                  Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                </p>
               <p>
                Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
   
</div>
<!-- /.section-colored -->

<div id="latest-blog-index" class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="col-lg-12 text-center">
               <h1 class="section-title">LATEST FROM <span>BLOG</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
              </div>
                <div class="col-sm-4 latest-blog">
                     <div class="latest-blog-content">
                            <div class="img_holder">
                               <div class="overlay"> <a class="icon" href="#"><i class="fa fa-eye"></i></a> </div>
                               <img class="img-responsive" src="http://placehold.it/700x450" alt=""/>
                               <span class="onsaleblog">
                                    <span>12 <i class="fa fa-comments"></i></span>
                                </span>
                            </div>
                            <div class="blog-l-txt">
                                <h3>NULLAM TURPIS CRAS</h3>
                                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                                    nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                            </div>
                    </div>
                </div>

                <div class="col-sm-4 latest-blog">
                     <div class="latest-blog-content">
                            <div class="img_holder">
                               <div class="overlay"> <a class="icon" href="#"><i class="fa fa-eye"></i></a> </div>
                               <img class="img-responsive" src="http://placehold.it/700x450" alt=""/>
                               <span class="onsaleblog">
                                    <span>16 <i class="fa fa-comments"></i></span>
                                </span>
                            </div>
                            <div class="blog-l-txt">
                                <h3>NULLAM TURPIS CRAS</h3>
                                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                                    nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                            </div>
                    </div>
                </div>

                <div class="col-sm-4 latest-blog">
                     <div class="latest-blog-content">
                            <div class="img_holder">
                               <div class="overlay"> <a class="icon" href="#"><i class="fa fa-eye"></i></a> </div>
                               <img class="img-responsive" src="http://placehold.it/700x450" alt=""/>
                               <span class="onsaleblog">
                                    <span>25 <i class="fa fa-comments"></i></span>
                                </span>
                            </div>
                            <div class="blog-l-txt">
                                <h3>NULLAM TURPIS CRAS</h3>
                                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                                    nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                            
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="home5-city-bg-bottom">
    
      <div class="well">
        <div class="container">
            <div class="row row-box">
                <div class="col-lg-12 col-md-12">

                    <ul class="clients">
                      <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Diesel"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
                      <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Google"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
                      <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Microsoft"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
                      <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
                      <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Sony"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
                    </ul>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>



<!-- Script  SlideShow -->
<script type="text/javascript">
    new BoxesFx(document.getElementById('boxgallery5'));
</script>
<!-- Filter Images--><script type="text/javascript">
    $(function () {
        try {
            $('.filter li').on('click', function () {
                $('li').removeClass('active');
                $(this).addClass('active');
            });
        } catch (err) {
        }
    });</script><script type="text/javascript">
    $(function () {
        try {
            $(".fancybox-effects-d").fancybox({
                padding: 0,

                openEffect: 'elastic',
                openSpeed: 150,

                closeEffect: 'elastic',
                closeSpeed: 150,

                closeClick: true,

                helpers: {
                    css: {
                        'background': 'rgba(238,238,238,0.85)'
                    },
                    overlay: {
                        locked: false
                    }
                }
            });
        } catch (err) {
        }
    });

</script><!--  COUNTER -->
<script>
$(function () {
        try {
            $(".fact-number").appear(function() {
                $('.fact-number').each(function() {
                    dataperc = $(this).attr('data-perc'),
                        $(this).find('.factor').delay(6000).countTo({
                            from: 50,
                            to: dataperc,
                            speed: 3000,
                            refreshInterval: 50,

                        });
                });
            });
        } catch (err) {
            }
});


(function($) {
     "use strict";
    $.fn.countTo = function(options) {
        // merge the default plugin settings with the custom options
        options = $.extend({}, $.fn.countTo.defaults, options || {});

        // how many times to update the value, and how much to increment the value on each update
        var loops = Math.ceil(options.speed / options.refreshInterval),
            increment = (options.to - options.from) / loops;

        return $(this).each(function() {
            var _this = this,
                loopCount = 0,
                value = options.from,
                interval = setInterval(updateTimer, options.refreshInterval);

            function updateTimer() {
                value += increment;
                loopCount++;
                $(_this).html(value.toFixed(options.decimals));

                if (typeof(options.onUpdate) == 'function') {
                    options.onUpdate.call(_this, value);
                }

                if (loopCount >= loops) {
                    clearInterval(interval);
                    value = options.to;

                    if (typeof(options.onComplete) == 'function') {
                        options.onComplete.call(_this, value);
                    }
                }
            }
        });
    };

    $.fn.countTo.defaults = {
        from: 0,  // the number the element should start at
        to: 100,  // the number the element should end at
        speed: 3000,  // how long it should take to count between the target numbers
        refreshInterval: 100,  // how often the element should be updated
        decimals: 0,  // the number of decimal places to show
        onUpdate: null,  // callback method for every time the element is updated,
        onComplete: null,  // callback method for when the element finishes updating
    };
})(jQuery);
</script><!--<script>    
jQuery(document).ready(function ($) {
        $('#Parallax').mousemove(
		function (e) {
		    /* Work out mouse position */
		    var offset = $(this).offset();
		    var xPos = e.pageX - offset.left;
		    var yPos = e.pageY - offset.top;

		    /* Get percentage positions */
		    var mouseXPercent = Math.round(xPos / $(this).width() * 100);
		    var mouseYPercent = Math.round(yPos / $(this).height() * 100);

		    /* Position Each Layer */
		    $(this).children('img').each(
				function () {
				    var diffX = $('#Parallax').width() - $(this).width();
				    var diffY = $('#Parallax').height() - $(this).height();

				    var myX = diffX * (mouseXPercent / 100); //) / 100) / 2;


				    var myY = diffY * (mouseYPercent / 100);


				    var cssObj = {
				        'left': myX + 'px',
				        'top': myY + 'px'
				    }
				    //$(this).css(cssObj);
				    $(this).animate({ left: myX, top: myY }, { duration: 50, queue: false, easing: 'linear' });

				}
			);

		}
	);
    });</script>-->