
<!-- Slider -->
<div class="container-slide">
    <div id="boxgallery" class="boxgallery" data-effect="effect-1">
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 1"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 2"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 3"/></div>
		<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 4"/></div>	
	</div>
	<header class="codrops-header">
				
		<nav class="codrops-demos" >
            <md-button ng-href="#/" class="current-demo">Internal</md-button>
            <md-button ng-href="#/home2">Lateral</md-button>
            <md-button ng-href="#/home3">Fall</md-button>
		</nav>
	</header>
</div>
<div class="top-well">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3>Want you need or find out more?</h3>
                <p class="home2-sub-txt">For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
               
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>

<div class="section home">

    <div class="container">

        <div class="row banner-info">
            <h2>WHAT WE OFFER</h2>
            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-lightbulb"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Bootstrap 3 Built</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. 
                Make sure you're up to date with latest Bootstrap documentation!</p></div>
            </div>
            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-pencil"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Ready to Style &amp; Edit</h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free 
                themes over at <a href="http://bootswatch.com">Bootswatch</a>.!</p></div>
            </div>
            <div class="col-lg-4 col-md-4 home-info-desc">
               <div class="col-lg-2 col-md-2 icn-con"><span class="icon-document"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Many Page Options</h3>
                <p>This template features see on a business website. Pages include: about, contact, portfolio variations, blog, 
                pricing, FAQ, 404, services, and general multi-purpose pages.</p></div>
            </div>

        </div>

        <!-- /.row -->
        <div class="row banner-info">
            
            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-beaker"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Strategy Solutions</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. 
                Make sure you're up to date with latest Bootstrap documentation!</p></div>
            </div>
            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-tools"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Digital Design</h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free 
                themes over at <a href="http://bootswatch.com">Bootswatch</a>!</p></div>
            </div>
            <div class="col-lg-4 col-md-4 home-info-desc">
               <div class="col-lg-2 col-md-2 icn-con"><span class="icon-gears"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Web Development</h3>
                <p>This template features see on a business website. Pages include: about, contact, portfolio variations, blog, 
                pricing, FAQ, 404, services, and general multi-purpose pages.</p></div>
            </div>

        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">
   <div class="section-ground"></div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="home-middle-parallax">Modern Business: A Clean &amp; Simple Full Website Template</h2>
                <hr />
                <p>A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.</p>
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
  
</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div id="clients" class="parallax">
    <div class="black-shadow"></div>
    <div class="container">
        <h1 class="section-title">Our <span>Clients</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
        <ul class="clients">
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Diesel"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Google"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Microsoft"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Sony"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
        </ul>
     </div>
</div>

<div class="section-images">
   
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>WHO WE ARE</h2>
                
                <p>Angula The resulting environment is extraordinarily expressive, readable, and quick to develop.</p> 
                <p>cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis <a href="#">dolor repellendus.</a> 
                Temporibus autem cum soluta nobis est eligendi quibusdam et aut officiis debitis autem cum soluta nobis est aut optio cumque nihil.
                </p>
                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                  Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                </p>
                <p>Angula The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
            </div>
            <div id="screenAnimation" class="col-lg-6 col-md-6 device-slide">
                <div class="animation"  data-animation-step="{{customAttributeValue}}">
		            <div class="device">
			            <div class="phone-home-button"></div>
			            <div class="tablet-home-button"></div>
			            <div class="screen-stand"><div class="leg"></div><div class="foot"></div></div>
			            <div class="display">
				            <div class="slide1"><div>Works on <em>desktops</em></div></div>
				            <div class="slide2"><div>Works on <em>tablets</em></div></div>
				            <div class="slide3"><div>Works on <em>phones</em></div></div>
			            </div>
		            </div>
	            </div>
               
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
   
</div>
<!-- /.section-colored -->

<div id="infoCompany" class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <!--<img class="img-responsive digital-photo" src="images/digital_photo.jpg">-->
                <h2>Amazing Elements for you website</h2>
                <p>The resulting environment is extraordinarily expressive</p>
                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                  AngularJS lets you extend HTML vocabulary for your application<i class="fa fa-quote-right"></i>
                </p>
                <p>Check user testimonials to understand why our users have enjoyed using Angula!</p>
                <iframe id="soundcloud_widget"
                  src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/39804767&amp;show_artwork=false&amp;liking=false&amp;sharing=false&amp;auto_play=false&amp;color=0bb7b7"></iframe>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>We are good at:</h2>
                <div class="skillbar clearfix " data-percent="80%">
	                <div class="skillbar-title" style="background: #0dc1c1;"><span>Design</span></div>
	                <div class="skillbar-bar" style="background: #0dc1c1;"></div>
	                <div class="skill-bar-percent">40%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="95%">
	                <div class="skillbar-title" style="background: #10b9b9;"><span>Analysis</span></div>
	                <div class="skillbar-bar" style="background: #10b9b9;"></div>
	                <div class="skill-bar-percent">75%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="85%">
	                <div class="skillbar-title" style="background: #12b3b3;"><span>SEO</span></div>
	                <div class="skillbar-bar" style="background: #12b3b3;"></div>
	                <div class="skill-bar-percent">100%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="70%">
	                <div class="skillbar-title" style="background: #12a8a8;"><span>Restyling</span></div>
	                <div class="skillbar-bar" style="background: #12a8a8;"></div>
	                <div class="skill-bar-percent">60%</div>
                </div> <!-- End Skill Bar -->

                <div class="skillbar clearfix " data-percent="65%">
	                <div class="skillbar-title" style="background: #139e9e;"><span>Perform</span></div>
	                <div class="skillbar-bar" style="background: #139e9e;"></div>
	                <div class="skill-bar-percent">45%</div>
                </div> <!-- End Skill Bar -->
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 team">
                <h2>MEET THE TEAM</h2>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img">
                    <figure class="effect-hera">
	                    <img src="http://placehold.it/300x290" alt="" />
                        <figcaption>
							<p>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</p>
						</figcaption>			
					</figure>
                  </div>
                  <p>Mike Cross</p>
                </div> 

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img">
                   <figure class="effect-hera">
	                    <img src="http://placehold.it/300x290" alt="" />
                        <figcaption>
							<p>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</p>
						</figcaption>			
					</figure>
                  </div>
                  <p>Mike Cross</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img">
                  <figure class="effect-hera">
	                    <img src="http://placehold.it/300x290" alt="" />
                        <figcaption>
							<p>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</p>
						</figcaption>			
					</figure>
                  </div>
                  <p>Mike Cross</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img">
                   <figure class="effect-hera">
	                    <img src="http://placehold.it/300x290" alt="" />
                        <figcaption>
							<p>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</p>
						</figcaption>			
					</figure>
                  </div>
                  <p>Mike Cross</p>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<div class="city-bg">
    <div class="effect-cover"></div>
      <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">

                    <h4>Modern Business is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
                    <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
               
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>
    /**************  Animated images portfolio  ************************/
    $(document).ready(function () {
        $(".img-prt").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        }
        );
    });
</script>
<!-- Script  SlideShow -->
<script>
    new BoxesFx(document.getElementById('boxgallery'));
</script>


  <script>
      $(document).ready(function () {
          var widget = SC.Widget(document.getElementById('soundcloud_widget'));

          $('button').click(function () {
              widget.toggle();
          });
      });
  </script>

  <script type="text/javascript">
      $(".fancybox-effects-d").fancybox({
          padding: 0,

          openEffect: 'elastic',
          openSpeed: 150,

          closeEffect: 'elastic',
          closeSpeed: 150,

          closeClick: true,

          helpers: {
              css: {
                  'background': 'rgba(238,238,238,0.85)'
              },
              overlay: {
                  locked: false
              }
          }
      });
</script>