<div id="demo" ng-controller="OrganizerController" class="home1">

  <!--visible animated fadeInUp-->
  <div class="container">
    <div class="menubar-div row">
      <!--List Event-->
      <div class="description-title-div col-lg-12">
        <h4>Personal</h4>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">First Name</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="first_name" placeholder="First Name" class="form-control" id="first_name">
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Last Name</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="last_name" placeholder="Last Name" class="form-control" id="last_name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input1" class="label-name required">Address</label>
          </div>
          <div class="col-md-10 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="per_address" placeholder="Street Address" class="form-control" id="per_address">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">City</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="per_city" placeholder="City" class="form-control" id="per_city">
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">State</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="per_state" placeholder="State" class="form-control" id="per_state">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">Zipcode</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" pattern="[0-9]*" name="per_zipcode" placeholder="Enter Zipcode" class="form-control" id="per_zipcode">
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Phone Number</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="per_phone_number" placeholder="Enter Phone Number" class="form-control" id="per_phone_number">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">Profile</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="profile" placeholder="Upload Image" class="form-control" id="profile">
          </div>
        </div>
      </div>

      <div class="description-title-div col-lg-12">
        <h4>Entity</h4>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input11" class="label-name">Entity Name</label>
          </div>
          <div class="col-md-10 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="entity_name" placeholder="Enter Entity Name" class="form-control" id="entity_name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input11" class="label-name">Address</label>
          </div>
          <div class="col-md-10 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="ent_address" placeholder="Street Address" class="form-control" id="ent_address">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">City</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="ent_city" placeholder="City" class="form-control" id="ent_city">
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">State</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="ent_state" placeholder="State" class="form-control" id="ent_state">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">Zipcode</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="ent_zipcode" placeholder="Enter Zipcode" class="form-control" id="ent_zipcode">
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Phone Number</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="ent_phone_number" placeholder="Enter Phone Number" class="form-control" id="ent_phone_number">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input3" class="label-name">Header</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="ent_header" placeholder="Upload Image" class="form-control" id="ent_header">
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Contact Email</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="email" name="ent_email" placeholder="Contact Email" class="form-control" id="ent_email">
          </div>
        </div>
      </div>

      <div class="description-title-div col-lg-12">
        <h4>Account</h4>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Email</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="acc_email" placeholder="Account Email" class="form-control" id="acc_email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Password</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="password" name="acc_email" placeholder="Password" class="form-control" id="acc_email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input4" class="label-name">Confirm Password</label>
          </div>
          <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="password" name="acc_cfm_email" placeholder="Confirm Password" class="form-control" id="acc_cfm_email">
          </div>
        </div>
      </div>

      <div class="description-title-div col-lg-12">
        <div class="row align-center">
          <a class="btn btn-block trans-buy-button inline-buy-button" ng-click="AddTicket()">Submit</a>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div ng-include='"templates/footer.html"'></div>