<div id="demo" ng-controller="SearchController" class="home9">

  <div class="container" ng-controller="SearchController">
    <div class="row">
      <div class="col-xs-8 col-xs-push-2 text-center shop-title-store">
        <form class="search search-category-bar">
          <!-- <input type="text"  name="search" placeholder="Select Category" style="background: none;"> -->
          <select ng-model="category" ng-options="t.label for t in categories" class="select-list">
            <option value="" disabled selected>Select category</option>
          </select>
        </form>
      </div>
      <!--List Event-->
      <div id="cbp-vm" class="col-md-12 col-sm-12 col-xs-12 shop-prod active">
        <ul id="event" class="nav-pills nav-stacked rectangle-list">
          <li class="col-xs-12" ng-repeat="event in pagedItems[currentPage]">
            <div class="shop-img home-box-black row">
              <a href="#/event_details">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                  <img ng-src="images/store/{{event.src}}" alt="{{event.name}}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 box-image img-responsive" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                  <p class="p-title">{{event.title}}</p>
                  <div class="home-content-div">
                    <div class="profile-div">
                      <p class="p-date">{{event.date}}</p>
                      <p class="p-spec p-blue"><a href="#/venue_profile">{{event.spec}}</a></p>
                      <p class="p-name">{{event.name}}</p>
                    </div>  

                    <div class="buy-btn-div">
                      <a class="btn btn-block trans-buy-button inline-buy-button" href="#/event">BUY TICKETS</a>
                    </div>   
                    <div class="clearfix"></div>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="pagenum text-center"><span>1</span> of <span>10</span></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.demo -->
