<div id="demo" ng-controller="HomeController" class="home6">

    <!--visible animated fadeInUp-->
  <div class="container-fluid header-image-div">
    <div class="home-img-div">
      <div class="home6-back-img home-back-img-common"><span class="header-txt">BOGART'S COLISIUM ARENA</span></div>
    </div>
  </div> 

  <div class="container">
    <div class="row">
      <div class="home-banner">
        <div class="container">
          <div class="row aboutus">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
              <h3>2621 Vine St.</h3>                   
              <h3>Cincinnati, OH, USA</h3>                   
              <h3>45014</h3>                   
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
              <a class="btn social-link facebook" href="#" target="_blank"></a>
              <a class="btn social-link twitter" href="#" target="_blank"></a>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>

      <div class="col-lg-12 text-center shop-title-store">
        <h1 class="section-title">UPCOMING EVENTS</h1>
      </div>
      <!--List Event-->
      <div id="cbp-vm" class="col-md-12 col-sm-12 col-xs-12 shop-prod active">
        <ul id="event" class="nav-pills nav-stacked rectangle-list">
          <li class="col-xs-12" ng-repeat="event in pagedItems[currentPage]">
            <div class="shop-img home-box-black row">
              <a href="#/event_details">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 box-image-div">
                  <img ng-src="images/store/{{event.src}}" alt="{{event.name}}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 box-image img-responsive" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                  <p class="p-title">{{event.title}}</p>
                  <div class="home-content-div">
                    <div class="profile-div">
                      <p class="p-date">{{event.date}}</p>
                      <p class="p-spec p-blue"><a href="#/venue_profile">{{event.spec}}</a></p>
                      <p class="p-name">{{event.name}}</p>
                    </div>  

                    <div class="buy-btn-div">
                      <a class="btn btn-block trans-buy-button inline-buy-button" ng-click="loadBuyTicket(event.num)">BUY TICKETS</a>
                    </div>   
                    <div class="clearfix"></div>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.demo -->

<div ng-include="'templates/footer.html'"></div>