<div ng-include="'partials/admin/admin_menu.html'"></div>

<div id="demo" ng-controller="EventInfoController" class="home1">

  <!--visible animated fadeInUp-->
  <div class="container-fluid">
    <div class="menubar-div row">
      <!--List Event-->
      <div class="description-title-div col-lg-12">
        <h4>Event Information</h4>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <label for="input1" class="label-name ng-required="">Event Name</label>
          </div>
          <div class="col-md-8 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="event_name" placeholder="Event Name" class="form-control" id="event_name" maxlength="100">
          </div>
          <div class="col-md-2 col-sm-3 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <label for="input1" class="label-comment">0 of 100</label>
          </div>
        </div>
      </div>
      <div class="description-title-div ticket-block-div menubar-div">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12">
            <label for="input1" class="label-name required">Name</label>
          </div>
          <div class="col-md-8 col-sm-8 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="text" name="talent_name" placeholder="Enter Talent Name" class="form-control" id="talent_name" maxlength="30">
          </div>
          <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <label for="input1" class="label-comment">0 of 30</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12">
            <label for="input10" class="label-name">Bio</label>
          </div>
          <div class="col-md-8 col-sm-8 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <div class="wysiwig-editor">
              <trix-editor name="talent_biography" id="talent_biography" angular-trix ng-model="foo" class="trix-content"></trix-editor>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <label for="input10" class="label-comment">0 of 1000</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12">
            <label for="input5" class="label-name required">Profile</label>
          </div>
          <div class="col-md-8 col-sm-8 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="file" name="profile_img" class="form-control file-uploader" id="profile_img">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12">
            <label for="input6" class="label-name required">Header</label>
          </div>
          <div class="col-md-8 col-sm-8 col-sm-offset-0 col-xs-11 col-xs-offset-1">
            <input type="file" name="header_img" class="form-control file-uploader" id="header_img">
          </div>
        </div>
        <div class="row store-down-bottom">
          <a class="btn btn-block trans-buy-button inline-buy-button store-down-bottom" href="#/event" style="right:15px;">Add</a>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<div id="main-curtain" class="Curtain " ng-class="{'visible':toggle_menu_flag, '':!toggle_menu_flag}" ng-click="toggleMenu()"></div>

<div ng-include="'templates/footer.html'"></div>