<footer>
  
  <div class="container top-footer-in">
    <div ng-class="{'row content':toggle_menu_flag, 'row':!toggle_menu_flag}">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h4>About Us</h4>
        <ul class="footer-menu"> 
          <li><a href="#">About Us</a></li> 
          <li><a href="#">News</a></li> 
          <li><a href="#">Blog</a></li> 
          <li><a href="#">Career</a></li>  
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h4>Sell Tickets</h4>
        <ul class="footer-menu"> 
          <li><a href="#">Get Started</a></li> 
          <li><a href="#">How It Works</a></li> 
          <li><a href="#">Network & Affiliations</a></li> 
          <li><a href="#">Features</a></li> 
          <li><a href="#">Pricing</a></li> 
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h4>Useful Links</h4>
        <ul class="footer-menu"> 
          <li><a href="#">Support</a></li> 
          <li><a href="#">Privacy policy</a></li> 
          <li><a href="#">Terms of use</a></li> 
          <li><a href="#">FAQ</a></li> 
          <li><a href="#">My Tickets</a></li> 
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h4>Useful Links</h4>
        <ul class="footer-menu"> 
          <li><a href="#">Support</a></li> 
          <li><a href="#">Privacy policy</a></li> 
          <li><a href="#">Terms of use</a></li> 
          <li><a href="#">FAQ</a></li> 
          <li><a href="#">Help</a></li> 
        </ul>
      </div>
    </div>
    
  </div>
  <div ng-class="{'info-footer content':toggle_menu_flag, 'info-footer':!toggle_menu_flag}">
    <span>© 2016 Ticketvow, LLC.,</span>
  </div>
</footer>
