<footer>

    <div class="container top-footer-in">
        <div class="">
            <div class="col-sm-4">
                <h4>About Us</h4>
                <ul class="footer-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Sell Tickets</h4>
                <ul class="footer-menu">
                    <li><a href="#">Get Started</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Network & Affiliations</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Useful Links</h4>
                <ul class="footer-menu">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#/faq">FAQ</a></li>
                    <li><a href="#">My Tickets</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container top-footer-in top-footer-info">
        <div class="">
            <div class="col-md-3 col-sm-6">
                <h4>Get Started ></h4>
                <ul class="footer-menu">
                    <li><a href="#/ticket_sale">Online Ticket Sales</a></li>
                    <li><a href="#/box">Box Office System</a></li>
                    <li><a href="#">Facebook Event Ticketing</a></li>
                    <li><a href="#/collect_payment">Collect Payment</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Run</h4>
                <ul class="footer-menu">
                    <li><a href="#">Event Sales Reporting</a></li>
                    <li><a href="#/venue_ticket">Automate Event Tasks</a></li>
                    <li><a href="#/ticket_scanning">Ticket Scanning</a></li>
                    <li><a href="#/printed_ticket">Printed Event Tickets</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Grow</h4>
                <ul class="footer-menu">
                    <li><a href="#/event_marketing">Event Marketing</a></li>
                    <li><a href="#/promoter">Promoter Management Software</a></li>
                    <li><a href="#/payment_plan">Payment Plans</a></li>
                    <li><a href="#/auditing">Event Auditing & Reporting</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Plus</h4>
                <ul class="footer-menu">
                    <li><a href="#">RFID Ticketing</a></li>
                    <li><a href="#">Reserved Seats</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="info-footer">
        <span>© 2016 Ticketvow, LLC.,</span>
    </div>
</footer>