<footer>

    <div class="container top-footer-in">
        <div class="row">
            <div class="col-sm-4">
                <h4>About Us</h4>
                <ul class="footer-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Sell Tickets</h4>
                <ul class="footer-menu">
                    <li><a href="#">Get Started</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Network & Affiliations</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Useful Links</h4>
                <ul class="footer-menu">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#/faq">FAQ</a></li>
                    <li><a href="#">My Tickets</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container top-footer-in top-footer-info">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Get Started ></h4>
                <ul class="footer-menu">
                    <li><a href="#">ONLINE TICKET SALES</a></li>
                    <li><a href="#">BOX OFFICE SYSTEM</a></li>
                    <li><a href="#">FACEBOOK EVENT TICKETING</a></li>
                    <li><a href="#">COLLECT PAYMENT</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Run</h4>
                <ul class="footer-menu">
                    <li><a href="#">EVENT SALES REPORTING</a></li>
                    <li><a href="#">AUTOMATE EVENT TASKS</a></li>
                    <li><a href="#">TICKET SCANNING</a></li>
                    <li><a href="#">PRINTED EVENT TICKETS</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Grow</h4>
                <ul class="footer-menu">
                    <li><a href="#">EVENT MARCKETING</a></li>
                    <li><a href="#">PROMOTOR MANAGEMENT SOFTWARE</a></li>
                    <li><a href="#">PAYMENT PLANS</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Plus</h4>
                <ul class="footer-menu">
                    <li><a href="#">RFID TICKETING</a></li>
                    <li><a href="#">RESERVED SEATS</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="info-footer">
        <span>© 2016 Ticketvow, LLC.,</span>
    </div>
</footer>