<div class="blog-top-img">
  <div class="effect-over"></div>
    <div class="container">
      <div class="col-lg-12">
       <h1 class="about4-top-title">Describe your<span class="color-txt"> experiences</span> with </h1>
       <h1 class="about4-top-title about4-top-second"><span class="color-txt">AngularJs</span> code.</h1>
       <div class="buy-angula"><a class="btn btn-lg btn-primary" href="#">Purchase now! </a></div>
      </div>
    </div> 
</div>
 <div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Blog</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="row blog-row-prod">

        <div class="col-md-1 blog-ico">
            <p><span class="icon-mic"></span></p>

            <p class="blog-date">May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="#/shop">
                <img src="http://placehold.it/630x300" class="img-responsive" alt=""/>
            </a>
        </div>
        <div class="col-md-6 blog-info-prod">
            <h3><a href="#/shop">H3A BLUE MUSIC</a></h3>

            <p class="blog-author">by <a href="#">Start Bootstrap</a></p>

            <p class="blog-desc-prod">This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are
                built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of
                the page.</p>
            <a class="btn btn-primary" href="#/shop">Read More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>

    <hr>

    <div class="row blog-row-prod">

        <div class="col-md-1 blog-ico">
            <p><span class="icon-video"></span></p>

            <p class="blog-date">May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="#/shop">
                <img src="http://placehold.it/630x300" class="img-responsive" alt=""/>
            </a>
        </div>
        <div class="col-md-6 blog-info-prod">
            <h3><a href="#/shop">one-piece stereo</a></h3>

            <p class="blog-author">by <a href="#">Start Bootstrap</a></p>

            <p class="blog-desc-prod">This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are
                built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of
                the page.</p>
            <a class="btn btn-primary" href="#/shop">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row blog-row-prod">

        <div class="col-md-1 blog-ico">
            <p><span class="icon-circle-compass"></span></p>
            <p class="blog-date">May 24, 2013</p>
        </div>
        <div class="col-md-5">
            <a href="#/shop">
                <img src="http://placehold.it/630x300" class="img-responsive" alt=""/>
            </a>
        </div>
        <div class="col-md-6 blog-info-prod">
            <h3><a href="#/shop">one-piece stereo</a>
            </h3>

            <p class="blog-author">by <a href="#">Start Bootstrap</a>
            </p>

            <p class="blog-desc-prod">This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are
                built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of
                the page.</p>
            <a class="btn btn-primary" href="#/shop">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row last-inf-dt">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->