<div id="demo" class="home1">

  <!--visible animated fadeInUp-->
  <div class="container-fluid login-container-div">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default login-back-div">
        <div class="login-header-div p-center">
          <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="login-body-div">
          <form accept-charset="UTF-8" role="form" name="signup_form" ng-submit="signup()" novalidate>
            <div class="row row-height">
              <div class="col-sm-3 col-xs-12 align-left">
                <label for="input3" class="label-name">First Name</label>
              </div>
              <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                <input type="text" name="first_name" ng-model="fname.text" placeholder="First Name" class="form-control" id="first_name">
              </div>
            </div>
            <div class="row row-height" ng-class="{ 'has-error' : signup_form.last_name.$invalid && !signup_form.last_name.$pristine }">
              <div class="col-sm-3 col-xs-12 align-left">
                <label for="input3" class="label-name">Last Name</label>
              </div>
              <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                <input type="text" name="last_name" ng-model="lname.text" placeholder="Last Name" class="form-control" id="last_name" ng-required="required">
                <span ng-show="signup_form.last_name.$invalid && !signup_form.last_name.$pristine">Last name is required.</span>
              </div>
            </div>
            <div class="row row-height" ng-class="{ 'has-error' : signup_form.email.$invalid && !signup_form.email.$pristine }">
              <div class="col-sm-3 col-xs-12 align-left">
                <label for="input3" class="label-name">Email</label>
              </div>
              <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                <input type="email" name="email" ng-model="email.text" ng-required="" placeholder="Enter Email" class="form-control" id="email">
                <span ng-show="signup_form.email.$invalid && !signup_form.email.$pristine">Invalid email address.</span>
              </div>
            </div>
            <div class="row row-height" ng-class="{ 'has-error' : signup_form.password.$invalid && signup_form.password.$pristine }">
              <div class="col-sm-3 col-xs-12 align-left">
                <label for="input3" class="label-name">Password</label>
              </div>
              <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                <input type="password" name="password" ng-model="password.new" ng-required="" ng-minlength="5" placeholder="Password" class="form-control" id="password">
                <span ng-show="signup_form.password.$error.minlength">Password is too short.</span>
              </div>
            </div>
            <div class="row row-height">
              <div class="col-sm-3 col-xs-12 align-left">
                <label for="input3" class="label-name">Confirm</label>
              </div>
              <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                <input type="password" name="cfm_password" ng-model="password.confirm" match-password="newPassword" ng-required="" placeholder="Confirm Password" class="form-control" id="cfm_password">
              </div>
            </div>
            <div class="row align-center row-height">
              <div class="col-xs-12">
                <a class="btn btn-block trans-buy-button inline-buy-button" ng-click="signup()" ng-disabled="signup_form.$invalid">Sign Up</a>
              </div>
            </div>
          </form>

          <div class="row row-height p-center">
            <div class="col-sm-6 col-xs-6">
              <a class="btn btn-block login-link-label inline-buy-button" href="#/log_in">Log In</a>
            </div>
            <div class="col-sm-6 col-xs-6">
              <a class="btn btn-block login-link-label inline-buy-button" href="#/reset">Forgot Password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div ng-include="'view/templates/footer.html'"></div>
