<div id="demo" class="home6">

  <div class="container">
    <div class="row description-title-div">
      <div class="col-lg-12 text-center shop-title-store">
        <h1 class="section-title">BUY TICKET</h1>
      </div>
      <!--List Event-->
      <div id="cbp-vm" class="col-md-12 col-sm-12 col-xs-12 shop-prod active">
        <ul id="event" class="nav-pills nav-stacked rectangle-list">
          <li class="col-xs-12" ng-repeat="event in events">
            <div class="shop-img home-box-black row">
              <a href="#/event_details">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 box-image-div">
                  <img ng-src="assets/images/store/{{event.src}}" alt="{{event.name}}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 box-image img-responsive" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                  <p class="p-title">{{event.title}}</p>
                  <div class="home-content-div">
                    <div class="profile-div">
                      <p class="p-date">{{event.date}}</p>
                      <p class="p-spec p-blue"><a href="#/venue_profile">{{event.spec}}</a></p>
                      <p class="p-name">{{event.name}}</p>
                    </div>  

                    <div class="clearfix"></div>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="description-title-div col-lg-12">
        <div class="row">
          <table class="border-table">
            <thead>
              <tr>
                <th>Ticket Type</th>
                <th>Price</th>
                <th class="p-center">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GENERAL ADMISSION</td>
                <td>$52.50</td>
                <td class="p-center">
                  <input type="number" min="0" step="1" value="0" class="spin-input">
                </td>
              </tr>
              <tr>
                <td>MEET & GREET</td>
                <td>$152.50</td>
                <td class="p-center">
                  <input type="number" min="0" step="1" value="0" class="spin-input">
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="p-center">
                  <a class="btn btn-block trans-buy-button inline-buy-button store-down-bottom" ng-click="buyTicket()">BUY NOW</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.demo -->

<div ng-include="'view/templates/footer.html'"></div>