<div ng-include="'view/partials/user/user_menu.html'"></div>

<div id="demo" class="home1">
    <div class="row align-center row-height">
        <div class="col-xs-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="alert_message">{{alert.msg}}</alert>
        </div>
    </div>

    <!--visible animated fadeInUp-->
    <div class="container">
        <div class="menubar-div row">
            <form accept-charset="UTF-8" role="form" name="payment_form" novalidate>
                <div class="description-title-div col-lg-12">
                    <h4>PAYMENT SETTING</h4>
                    <div class="row" ng-class="{ 'has-error' : payment_form.credit_card.$invalid && !payment_form.credit_card.$pristine }">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name required">Credit Card</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" pattern="[0-9]*" name="credit_card" placeholder="Enter the 16 number" class="form-control" id="credit_card" ng-model="formData.card_number" ng-minlength="16" ng-maxlength="16">
                            <span ng-show="payment_form.credit_card.$error.pattern">Invalid Credit Card. Must be only number.</span>
                            <span ng-show="payment_form.credit_card.$error.minlength">Password is too short.</span>
                            <span ng-show="payment_form.credit_card.$error.maxlength">Password is too long.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">Exp Date</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1" ng-class="{ 'has-error' : payment_form.exp_date.$invalid && !payment_form.exp_date.$pristine }">
                            <input type="text" pattern="[0-9]{2}/[0-9]{2}" name="exp_date" placeholder="MM/YY" class="form-control" id="exp_date" ng-model="formData.card_date">
                            <span ng-show="payment_form.exp_date.$error.pattern">Invalid Date. Must be MM/YY.</span>
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input4" class="label-name">CCV</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="ccv" placeholder="CCV" class="form-control" id="ccv" ng-model="formData.card_cvv">
                        </div>
                    </div>
                </div>

                <div class="description-title-div col-lg-12">
                    <h4>Billing Address</h4>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input1" class="label-name required">Address</label>
                        </div>
                        <div class="col-md-10 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="bil_address" placeholder="Street Address" class="form-control" id="bil_address" ng-model="formData.billing_address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">City</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="bil_city" placeholder="City" class="form-control" id="bil_city" ng-model="formData.billing_city">
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input4" class="label-name">State</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="bil_state" placeholder="State" class="form-control" id="bil_state" ng-model="formData.billing_state">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">Country</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="bil_country" placeholder="Country" class="form-control" id="bil_country" ng-model="formData.billing_country">
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">Zipcode</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1" ng-class="{ 'has-error' : payment_form.bil_zipcode.$invalid && !payment_form.bil_zipcode.$pristine }">
                            <input type="text" pattern="[0-9]*" name="bil_zipcode" placeholder="Enter Zipcode" class="form-control" id="bil_zipcode" ng-model="formData.billing_zipcode">
                            <span ng-show="payment_form.bil_zipcode.$error.pattern">Invalid Zipcode. Must be only number.</span>
                        </div>
                    </div>
                </div>

                <div class="description-title-div col-lg-12">
                    <h4>Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input1" class="label-name required">Address</label>
                        </div>
                        <div class="col-md-10 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="shp_address" placeholder="Street Address" class="form-control" id="shp_address" ng-model="formData.shipping_address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">City</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="shp_city" placeholder="City" class="form-control" id="shp_city" ng-model="formData.shipping_city">
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input4" class="label-name">State</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="shp_state" placeholder="State" class="form-control" id="shp_state" ng-model="formData.shipping_state">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">Country</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <input type="text" name="shp_country" placeholder="Country" class="form-control" id="shp_country" ng-model="formData.shipping_country">
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label for="input3" class="label-name">Zipcode</label>
                        </div>
                        <div class="col-md-4 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1" ng-class="{ 'has-error' : payment_form.shp_zipcode.$invalid && !payment_form.shp_zipcode.$pristine }">
                            <input type="text" pattern="[0-9]*" name="shp_zipcode" placeholder="Enter Zipcode" class="form-control" id="shp_zipcode" ng-model="formData.shipping_zipcode">
                            <span ng-show="payment_form.shp_zipcode.$error.pattern">Invalid Zipcode. Must be only number.</span>
                        </div>
                    </div>
                </div>
                <div class="row align-center row-height">
                    <div class="col-xs-12">
                        <a class="btn btn-block trans-buy-button inline-buy-button" ng-click="update()" ng-disabled="payment_form.$invalid">Update</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<div ng-include="'view/templates/footer.html'"></div>