<div ng-include="'view/partials/admin/admin_menu.html'"></div>

<div id="demo" class="home1">
    <!--visible animated fadeInUp-->
    <div class="container">
        <div class="menubar-div row">
            <div class="description-title-div col-lg-12">
                <h4>UPDATE PASSWORD</h4>
                <div class="login-body-div">
                    <form accept-charset="UTF-8" role="form" name="update_form" novalidate>
                        <div class="row row-height" ng-class="{ 'has-error' : update_form.email.$invalid && !update_form.email.$pristine }">
                            <div class="col-sm-3 col-xs-12 text-left">
                                <label for="input3" class="label-name required">Email</label>
                            </div>
                            <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                                <input type="email" name="email" ng-model="formData.email" required placeholder="Enter Email" class="form-control" id="email" ng-readonly="true">
                                <span ng-show="update_form.email.$invalid && !update_form.email.$pristine">Invalid email address.</span>
                            </div>
                        </div>
                        <div class="row row-height" ng-class="{ 'has-error' : update_form.cur_password.$invalid && !update_form.cur_password.$pristine }">
                            <div class="col-sm-3 col-xs-12 text-left">
                                <label for="input3" class="label-name required">Current Password</label>
                            </div>
                            <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                                <input type="password" name="cur_password" ng-model="formData.current_password" required placeholder="Current Password" class="form-control" id="cur_password">
                                <span ng-show="update_form.cur_password.$invalid && !update_form.cur_password.$pristine">Password is required.</span>
                            </div>
                        </div>
                        <div class="row row-height" ng-class="{ 'has-error' : update_form.password.$error.minlength }">
                            <div class="col-sm-3 col-xs-12 text-left">
                                <label for="input3" class="label-name required">New Password</label>
                            </div>
                            <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                                <input type="password" name="password" ng-model="formData.new_password" ng-minlength="5" placeholder="New Password" class="form-control" id="password">
                                <span ng-show="update_form.password.$error.minlength">Password is too short.</span>
                            </div>
                        </div>
                        <div class="row row-height" ng-class="{ 'has-error' : update_form.cfm_password.$error.minlength }">
                            <div class="col-sm-3 col-xs-12 text-left">
                                <label for="input3" class="label-name required">Confirm</label>
                            </div>
                            <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                                <input type="password" name="cfm_password" ng-model="formData.confirm_password" ng-minlength="5" placeholder="Confirm Password" class="form-control" id="cfm_password" pw-check="password" on-enter="update()">
                                <span ng-show="update_form.cfm_password.$error.minlength">Password is too short.</span>
                                <span ng-show="update_form.cfm_password.$error.pwmatch">Passwords don't match.</span>
                            </div>
                        </div>
                        <div class="row text-center row-height">
                            <div class="col-xs-12">
                                <a class="btn btn-block trans-buy-button inline-buy-button" ng-click="update()" ng-disabled="update_form.$invalid">Update</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row text-center row-height">
                    <div class="col-xs-12">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="alert_message">{{alert.msg}}</alert>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<div ng-include="'view/templates/footer.html'"></div>