<div class="shop-slide-img">
  <div class="effect-over"></div>
    <div class="container">
      <div class="col-lg-12">
       <h1 class="shopping-topsub-title">BIG SALE - THIS WEEK ONLY</h1>
       <h1 class="shopping-top-title">UP TO <span class="color-txt">50%</span> OFF</h1>
      </div>
    </div> 
</div>
<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Store</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="container" ng-controller="AdminController">

    <!-- Top Images Shop -->
    
    <div class="row">
        <div class="col-lg-12 shop-top-img">
            <div class="col-md-6">
                <img src="assets/images/store/product/swatch.jpg" alt="" />
            </div>
            <div class="col-md-6 grid">
              <figure class="effect-layla">
                <img src="assets/images/store/product/sunglasses.jpg" alt="" />
                <figcaption>
					<h2>Glasses <span>Fashion</span></h2>
					<p>When Layla appears, she brings an eternal summer along.</p>
					<a href="#">View more</a>
				</figcaption>
              </figure>
            </div>
            <div class="col-md-6 grid">
              <figure class="effect-layla">
                <img src="assets/images/store/product/sunglasses2.jpg" alt="" />
                <figcaption>
					<h2>Glasses <span>Fashion</span></h2>
					<p>When Layla appears, she brings an eternal summer along.</p>
					<a href="#">View more</a>
				</figcaption>
              </figure>
            </div>
            <div class="col-md-6">
             <img src="assets/images/store/product/bags.jpg" alt="" />
            </div>
        </div>

       
        <div class="col-lg-12 text-center shop-title-store">
                <h1 class="section-title">FEATURED <span>PRODUCTS</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
        <div class="col-lg-12">
          <div class="content-store shop-dresses">
                <!--Filter Animation Product-->
                <div class="group filter-button-top">
			        <ul class="filter-dresses group albumFilter"> 
				        <li ng-click="myFilter('category',null)" class="active">All</li> 
				        <li ng-click="myFilter('category','Blouses')" >Blouses</li> 
				        <li ng-click="myFilter('category','Shirt')" >Shirt</li> 
				        <li ng-click="myFilter('category','Jeans')" >Jeans</li> 
				        <li ng-click="myFilter('category','Sweatshirt')" >Sweatshirt</li> 
			        </ul> 
	            </div>
                
        </div>
            <!--List Product-->
            <div id="cbp-vm" class="shop-prod shop-dresses">
                        <ul id="product" class="nav-pills nav-stacked rectangle-list">
                            <li class="col-md-4 my-shop-animation" ng-repeat="product in pagedItems[currentPage]" >
                                <div class="shop-img {{product.class}}">
                                    <img ng-src="assets/images/store/{{product.src}}" alt="{{product.name}}" />                                    
                                    <img class="fade"  ng-src="assets/images/store/{{product.src_retro}}" alt="{{product.name}}" />
                                    <a href="#/products_dresses/{{product.code}}" class="itemPreview">Quick View</a>
                                </div>
                                <span class="number-prodsingle-cart" ng-show="cart.getTotalCount(product.code) > 0">N&#176; {{cart.getTotalCount(product.code)}}</span>
                                <!--Triangle Sale-->
                                <span class="onsale" ng-show='product.discount != null'>
                                    <span>{{product.discount}}</span>
                                </span>
                                <!--End-->
                                <div class="col-lg-12 col-md-12 bt12-detail-shop">
                                    <div class="bt-detail-shop">
                                        <a class="title" href=""> {{product.name}}  </a>
                                        <a class="subtitle" href=""> {{product.category}}  </a>
                                        <p class="shop-price"> {{product.price | currency : "$"}} </p>
                                        <div class="shop-dress-size">
                                            <span>Sizes: </span>
                                            <span>{{store.getSize(product.code).s1.value}}</span>
                                            <span>{{store.getSize(product.code).s2.value}}</span>
                                            <span>{{store.getSize(product.code).s3.value}}</span>
                                            <span>{{store.getSize(product.code).s4.value}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                          </li> 
                      </ul>  
                      <!--Pagination-->
                      <div class="col-md-12 store-cart-content">
                        <div class="store-cart-footer store-down-bottom">
                                     <ul>
                                       <li>
                                         <button class="btn btn-lg btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                            Previous
                                        </button>
                                       </li>
                                       <li>
                                        <p class="number-page">{{currentPage + 1}}/{{numberOfPages}}</p>
                                       </li>
                                       <li>
                                        <button class="btn btn-lg btn-primary" ng-disabled="currentPage >= store.products.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                            Next
                                        </button>
                                       </li>
                                    </ul>
                          </div>
                    </div>                   
                </div>
    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Clients</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="assets/images/clients/barkley.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="assets/images/clients/guzzy.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="assets/images/clients/actived.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="assets/images/clients/codeca.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="assets/images/clients/bullos.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="assets/images/clients/violago.jpg">
        </div>

    </div>

</div>
<!-- /.container -->

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 1400);
        });
    });
</script>

<!-- Filter Images-->
<script type="text/javascript">
    $('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });
</script>