<div class="container-fluid header-image-div">
    <div class="home-img-div">
        <div class="information-home-div home-back-img-common">
            <div class="header-label-div">
                <div class="col-sm-7 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="header-description">EVENT AUDITING & REPORTING</div>
                    <div class="header-title">Auditing & reporting that makes sense.</div>
                    <div class="header-description hidden-xs">Take an in-depth look at your organisation. Important financial reports about ticket sales, event audit, and more are always accurate and available 24/7.</div>
                    <div class="header-button-div"><a class="btn header-link-button" href="/get_started">GET STARTED</a></div>
                </div>
                <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <img src="assets/images/services/ticket1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">EVENT AUDITING AND REPORTING</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container about-pg-2">
    <div class="row sub-title">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/auditing11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Track Ticket Sales Live</h3>
                    <p>We believe that to make the best decisions, access to real-time ticket sales is imperative</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/auditing12.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Dozens of Prebuilt Reports</h3>
                    <p>Access our library of reports allowing you to get the information you need quickly.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/auditing13.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Fine Grained Reporting Tools</h3>
                    <p>Analyze and gain insight into your ticket sale. See which events are selling — and which ones aren’t.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/auditing14.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Fully Custom Reporting Engine</h3>
                    <p>Need a special report? Ticketvow can have it built for you.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office text-center">Features</h2>

        <div class="col-md-6">
            <img src="assets/images/services/auditing1.png" alt="" />
        </div>
        <div class="col-md-6">
            <h2>Powerful and Customisable Reporting Tools.</h2>
            <p>Ticketvow empowers your marketing and event strategies with a wealth of reporting data that your marketing team is going to love, whether it be live reports or drilling down into affiliate network sales.</p>

            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Access a wealth of reporting options</h3>
                    <p>Want reports tailored to your needs? Our custom report builder allows you to specify sales information and then save it for future use.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title text-center">
        <h2 class="t-title-office">Understand your customers in a whole new way.</h2>

        <p>Identify your customers common interests and demographics, reach out to new audiences, see who’s coming back for seconds and find out how to nurture your customers through to purchase.</p>

        <div class="col-md-12">
            <img src="assets/images/services/auditing2.png" alt="" />
        </div>
    </div>

    <div class="row sub-title text-center">
        <h2 class="t-title-office">Make more informed business decisions.</h2>

        <p>When you’re able to receive up to the second ticket sales data, you can finally start making informed choices regarding your ticket sales.</p>

        <div class="col-md-12">
            <video id="decig_video" autoplay>
              <source src="assets/images/services/chart-edited.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-md-6">
            <div class="table-div">
                <h2 class="t-title-office">Download the free Ticketvow real-time app to see your sales from anywhere.</h2>

                <p>Real-Time gives you real-time sales data on you iOS device. Compare sales across multiple events, from various marketing sources and watch a live sales feed as your ticket sales take place.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/auditing3.png" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-md-6">
            <h2>Keep your team updated</h2>
            <p>Use scheduled reporting to keep all members of your team informed and up-to-date with the event information.</p>

            <div class="table-div">
                <div class="small-img-div"><img src="assets/images/services/auditing15.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Daily sales reporting</h3>
                    <p>Schedule and send a daily email with all ticket sales information for each of your events.</p>
                </div>
            </div>
            <div class="table-div">
                <div class="small-img-div"><img src="assets/images/services/auditing16.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Last 24 hour snapshot report</h3>
                    <p>Send a daily snapshot of all tickets processed on your account within the previous 24 hours.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/auditing4.jpg" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-md-6">
            <img src="assets/images/services/auditing5.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <h2>Shortcut your favourite reports</h2>
            <p>With so much under the ticketing admin hood we felt need to develop Ticketing`s ‘favourites’ tool which allows you to save shortcuts of the features and data you care most about to your dashboard. Now you and your team can see exactly how
                you`re tracking with what matters most</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button blue-button" href="/get_started">GET STARTED</a>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Let us help you grow your business.</h2>

            <p>Our sales team can help simplify your operations and get set up with the right solution to meet your business needs.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button white-button" href="/ticketing/contact-sales/">CONTACT SALES</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>