<div class="container-fluid header-image-div">
    <div class="home-img-div">
        <div class="information-home-div home-back-img-common">
            <div class="header-label-div">
                <div class="col-sm-7 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="header-description">BOX OFFICE SYSTEM</div>
                    <div class="header-title">The hardware-less box office that powers your ticket outlets</div>
                    <div class="header-description hidden-xs">Compatible with windows and apple laptop or tablets, no custom software needed.</div>
                    <div class="header-button-div"><a class="btn header-link-button" href="/get_started">GET STARTED</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-color overlay-div">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Box Office</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container padding-top-40 overlay-div">

    <div class="row sub-title">
        <h2 class="t-title-office">Ready for any box office.</h2>

        <p>Giving your customers the option to buy tickets at a lower immediate cost can be a major boost to your sales. Make sure you’re converting every sale possible by designing a custom payment plan that’ll help them buy now and pay later, with an uptake
            as much as 30% in some cases payment plans can really drive those important early ticket sales and build your events momentum.</p>

        <div class="col-md-6">
            <img src="assets/images/services/box2.png" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Stay Synchronised</h3>
                    <p>Ticketvow’s box office solution is tightly integrated with our online ticket sales which ensures reporting data, ticket sales inventory and staff access remains synchronised throughout the entire process.</p>
                    <h3>Powerful Solution, Simple Setup.</h3>
                    <p>Ticketvow box office has been designed from the ground up to be simple for staff while remaining powerful to handle even the most challenging venues and events. Staff training times are reduced to mere minutes not hours allowing you
                        to get back to selling tickets.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Everything you need from a box office.</h2>

        <p>All encompassing our box office solution really packs a punch and will ensure your front of house operations are executed flawlessly.</p>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box21.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Accept all major credit cards, cash or EFT</h3>
                    <p>Process Visa, MasterCard and American Express or create custom payment methods such as EFTPos, EFT, Cash or Gift Cards.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box22.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Set Staff Permissions</h3>
                    <p>Restrict box office users access. Enable or disable the use of complimentary codes, manual discounts, hidden ticket types and more.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/box3.png" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Serious Events, Serious Solutions.</h2>

        <p>Ticketvow is the first choice for serious event organisers and venues, our proven track record in some of America’s busiest venues shows our dedication to providing truly great experiences for attendees and organisers alike.</p>

        <div class="col-md-6">
            <img src="assets/images/services/box4.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box23.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Quick and Simple Reconciliation</h3>
                    <p>Generate end of day reports, outlet statistics and reconciliation data with box office data seamless integrated into organisational reports.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box24.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Ticketvow Event Ops Team</h3>
                    <p>Rest easy knowing you have the full support of the Ticketvow Event Ops team behind you the entire time.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="faq-title text-center">Simple for staff, powerful for sales.</h2>
        <p class="text-center">All the point-of-sale features you need without the frustration for your staff.</p>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-div">
                <img src="assets/images/services/box11.jpg" alt="" />
                <h3>General Admission or Reserved Seating(coming soon)</h3>
                <p>Box Office supports both GA and reserved seating events. Select individual seats for customers on a detailed seating chart.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-div">
                <img src="assets/images/services/box12.jpg" alt="" />
                <h3>Transaction History</h3>
                <p>Keep consistent records in your account for every transaction: online ticket purchases, orders over the phone, and cash, cheque, or credit sales at the door.</p>
            </div>
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-div">
                <img src="assets/images/services/box13.jpg" alt="" />
                <h3>Shopping Cart</h3>
                <p>Turn Box Office into a virtual shopping cart for your customer, and add tickets, coupons and donations across multiple events in a single transaction.</p>
            </div>
        </div>

        <div class="clearfix visible-md"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-div">
                <img src="assets/images/services/box14.png" alt="" />
                <h3>Intelligent Autocomplete For Customers</h3>
                <p>Box office automatically searches your existing customer database for matches to reduce double entry of attendee info.</p>
            </div>
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-div">
                <img src="assets/images/services/box15.png" alt="" />
                <h3>Ask Attendees Customised Questions.</h3>
                <p>Gather more info from attendees during their box office experience to aid further marketing, or simply skip in peak box office times.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-div">
                <img src="assets/images/services/box16.png" alt="" />
                <h3>Multiple Box Office Location Support</h3>
                <p>Ticketvow box office can be run at multiple box office locations simultaneously without any concurrency issues.</p>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Integrate with third party hardware.</h2>

        <p>Ticketvow makes integrating third party hardware such as BOCA ticket printers, thermal receipt printers and cash drawers simple. Sidekick for Box Office runs on windows, macintosh and linux and makes for a simple, painless setup.</p>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box25.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Print Thermal Tickets</h3>
                    <p>Processing large volumes of attendees, or require tickets to printed tickets to last months? Our box office solution integrates with BOCA printers allowing you to print custom branded tickets on demand directly from a box office terminal.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box26.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Print Receipt Tickets</h3>
                    <p>Ticketvow integrates with most thermal receipt printers allowing you to issue low cost hardcopy tickets and receipts to box office customers in record time.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box27.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Keep Cash Safe and Accessible</h3>
                    <p>Pair your cash drawers with a receipt printer or Boca Printer to open the cash register when a sale is processed keeping cash secure outside of transactions.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/box5.jpg" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Need a pop-up box office solution?</h2>

        <p>Transform your iPad into a mobile box office, allowing you to administer admissions, track ticket sales and even attach a credit card reader and issue receipts.</p>

        <div class="col-md-6">
            <img src="assets/images/services/box6.png" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box28.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Process any payment</h3>
                    <p>Accept cash or simply attach a credit card reader to the iPad to process mastercard/visa sales.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/box29.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Get setup in minutes</h3>
                    <p>Simply download the box office app from the apple store, login with your admin details and start processing sales, simple as that!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button blue-button" href="/get_started">GET STARTED</a>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Let us help you grow your business.</h2>

            <p>Our sales team can help simplify your operations and get set up with the right solution to meet your business needs.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button white-button" href="/ticketing/contact-sales/">CONTACT SALES</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>