<div class="container-fluid header-image-div">
    <div class="home-img-div">
        <div class="information-home-div home-back-img-common">
            <div class="header-label-div">
                <div class="col-sm-7 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="header-description">EVENT MARKETING</div>
                    <div class="header-title">Ticketvow provides you with world class event marketing tools.</div>
                    <div class="header-button-div"><a class="btn header-link-button" href="/get_started">GET STARTED</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-color overlay-div">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Event Marketing</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container padding-top-40 overlay-div">

    <div class="row sub-title">
        <h2 class="faq-title text-center">FEATURES</h2>

        <div class="col-md-6">
            <img src="assets/images/services/event1.png" alt="" />
        </div>
        <div class="col-md-6">
            <h2 class="t-title-office">Deep Integration With Facebook Adverting</h2>

            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Conversion Value Reporting</h3>
                    <p>Once connected to your Facebook advertising account Ticketvow will automatically begin reporting sales data back to Facebook so that your event marketing team can quickly see how much revenue their latest campaign has brought in.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Segmented Reporting Data</h3>
                    <p>Ticketvow gives you fine grained control of pixel placement and marketing objectives providing your team with highly accurate sales attribution data.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Let Attendees Help Promote Your Events</h2>

        <div class="col-md-6">
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Social Sharing For Events</h3>
                    <p>Offer your attendees the chance to work back some of their ticket price by sharing your event with family and friends. Each attendee is generated a unique link to share that attributes any sales directly from their ticket price.</p>
                    <p>Minimum sale amounts help protect your bottom line while still encouraging fans.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/event2.png" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Push Sales Further With Impulse</h2>

        <div class="col-md-6">
            <img src="assets/images/services/event3.png" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Event Marketing Of The 21st Century</h3>
                    <p>Reserved for qualified ticketing clients Impulse really is the event promotion platform of the future. Designed for festivals, exhibitions and venues Impulse makes managing a fleet of promoters simple for anyone.</p>
                </div>
            </div>
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Simple Commission Management</h3>
                    <p>Impulse allows you to generate coupons or trackable links for your entire promoter database. Specify commissions or rewards programs and Impulse will take care of the rest. Automatic Payouts, Promoter Profiles and Management and even
                        rewards badges to encourage them to promote harder.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Integrated With Industry Leading Advertising Tools</h2>

        <div class="col-md-6">
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>All of the integrations with none of the cost.</h3>
                    <p>Ticketvow makes integrating with tools such as facebook or google analytics as simple as copy and paste. Ticketvow ensures that all your sales data is correctly reported to any third party tools ensuring your sales/revenue data remains
                        accurate.
                    </p>
                </div>
            </div>
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Over 200 Integrations</h3>
                    <p>Ticketvow currently supports integrations with more than 200 analytics and marketing services such as Google Analytics, Google Adwords, Facebook Advertising, Instagram, Livechat just to name a few.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/event4.png" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Built in Email Marketing Platform.</h2>

        <div class="col-md-6">
            <img src="assets/images/services/event5.png" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Want to keep your customers informed?</h3>
                    <p>Ticketvow makes reaching out to fans easy with our email blast tool! our WYSIWYG editor makes designing emails a breeze and our email platform ensures that your remain fully SPAM-ACT compliant and avoid upsetting fans.</p>
                </div>
            </div>
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Looking to integrate with another tool?</h3>
                    <p>Your customer database remains accessible 24/7 and is easily exported into mailchimp, campaign monitor or other 3rd party email tools for greater emailing power.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Powerful Coupon Management.</h2>
        <p>We’ve designed the coupon management system to allow fine grained control of assignments and limits so even the most demanding of promotional setups can be achieved.</p>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/ticket11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Hype Up Fans and Ticket Sales</h3>
                    <p>Pre-sale coupons are a great way to encourage early purchases and reward fans who join mailing lists and loyalty programs</p>
                </div>
            </div>
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/venues11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Manage Complicated Campaigns</h3>
                    <p>The coupon system allows complex coupon arrangements that span multiple events and price levels whilst retaining specific uses and ticket limits stopping potential abuse.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/event6.png" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Keep Engaged With Your Fans.</h2>

        <div class="col-md-6">
            <img src="assets/images/services/event7.png" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Relationships Matter!</h3>
                    <p>Ticketvow maintains a full customer CRM for every ticket buyer, find a specific customer using search or via your guest list to see all their purchases along with any notes from Ticketvow or your own staff.</p>
                </div>
            </div>
            <div class="table-div">
                <div class="right-cell-div">
                    <h3>Reward your loyal customers.</h3>
                    <p>Ticketvow’s CRM features a full customer tagging system allowing you to segment important customers or even blacklist certain attendees from purchasing tickets to your events.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Use custom e-tickets to aid your marketing.</h2>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/venues11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Market Your Other Events!</h3>
                    <p>Every print-at-home ticket contains two advertising spaces that can be used to promote sponsors, upcoming events or even important event information.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/event8.png" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">New ways to promote your events</h2>
        <p>Promoting an event is never easy, that’s why Ticketvow is packed full of ground breaking ways to promote your events and increase your ticket sales.</p>

        <div class="col-md-6">
            <img src="assets/images/services/event9.png" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/ticket13.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Incentivise shares with discounted tickets</h3>
                    <p>Social rewards can offer buyers a discount in ticket prices in exchange for likes, posts or tweets – a chance most fans will jump at.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Keep your message uniform.</h2>
        <p>Ticketvow prompts the user to share a common message and help your event break through the marketing noise.</p>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div small-img-div"><img src="assets/images/services/ticket13.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Customise The Message Your Fans Promote</h3>
                    <p>Write a custom message for your fans to promote when sharing on Facebook and Twitter to help keep your message strong and start trending.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/event10.png" alt="" />
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button blue-button" href="/get_started">GET STARTED NOW</a>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Join the event marketing experts.</h2>

            <p>Ticketvow powers thousands of events, with millions of tickets sold each year.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button white-button" href="/ticketing/contact-sales/">CONTACT SALES</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>