
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="row last-inf-dt">

        <div class="col-lg-12">
            <h2 class="faq-title">Buyer FAQs</h2>
            <div class="faq-accordion">
              <accordion close-others="true">
                <accordion-group is-open="isopen.first">
                    <accordion-heading>
                        I Didn’t Receive My Tickets
                        <i class="pull-right" ng-class="icon[isopen.first]"></i>
                    </accordion-heading>

                    <p>Ticketvow issues thousands of tickets by email daily but due to a number of reasons they don’t always make it to everyone. Never fear! Follow the steps below and you’ll receive a copy of your tickets in no time!</p>
                    
                    <h3>1. Check Your Spam / Junk Folder</h3>
                    <p>Occasionally some ISPs get a little to overprotective when filtering out spam emails – its not uncommon for your e-tickets to end up in the SPAM folder of your email client along with unwanted emails. So the first thing to do is quickly check your SPAM / Junk folder for any emails that start with “Your Receipt For”. You can find a list of instructions for Major Email Services here.</p>
                    <p>Gmail : <a href="https://support.google.com/mail/answer/6593?co=GENIE.Platform%3DDesktop&hl=en">https://support.google.com/mail/answer/6593?co=GENIE.Platform%3DDesktop&hl=en</a></p>
                    <p>Yahoo : <a href="https://help.yahoo.com/kb/SLN4910.html">https://help.yahoo.com/kb/SLN4910.html</a></p>
                    <p>If you find your receipt in your SPAM / Junk folder its a good idea to whitelist our email address to avoid it happening in the future. All tickets are delivered from order@ticketvow.com so whitelisting this will ensure you receive future tickets.</p>

                    <h3>2. Check Your My Tickets For Purchases</h3>
                    <p>You can find all previous purchases associated with an order by visiting <a href="https://events.Ticketvow.com.au/">https://events.Ticketvow.com.au/</a> and entering your email address and password (if you’ve set one) otherwise the option to reset your password can be found just below your login.</p>

                    <h3>3. Still Can’t Find Your Tickets?</h3>
                    <p>Contact the Ticketvow support team at any time at <a href="mailto:support@ticketvow.com">support@ticketvow.com</a> with your name, event you purchased tickets to and any other supporting purchase information. One of our support team will organise to have your tickets re-issued to you.</p>
                </accordion-group>

                <accordion-group is-open="isopen.second">
                    <accordion-heading >
                        Help! My tickets got stolen (lost). What do I need to do?
                        <i class="pull-right" ng-class="icon[isopen.second]"></i>
                    </accordion-heading>

                    <p>Ticketvow is one of the most secure ticketing providers in America. No need to worry if you lost your ticket or your tickets got stolen. Just contact us and we can reset the barcode of your ticket to void the previous ticket. We will then send you a new ticket to your email address.</p>
                    <p>We make sure that only you can use the ticket that’s why we ask our ticket buyers to bring a valid I.D to the event to further confirm your identity.</p>
                </accordion-group>
              
                <accordion-group is-open="isopen.three">
                    <accordion-heading >
                        My Tickets Won’t Print
                        <i class="pull-right" ng-class="icon[isopen.three]"></i>
                    </accordion-heading>

                    <p>When your tickets aren’t printing it’s usually due to your computer not having Adobe Acrobat installed, or a very old version installed. Adobe Acrobat allows us to make sure that your tickets print the same no matter what computer you print them on, so you’re never going to have problems when they get scanned at the door. The first thing you should do is make sure you have Adobe Acrobat installed and up-to-date. If Adobe is up-to-date but you still can’t print your tickets you’ll need to read the following questions so we can determine whats going wrong.</p>

                    <h3>Is the View/Print button doing anything? Does the ticket open in your browser window?</h3>
                    <p>If you’re clicking VIEW/PRINT TICKET and nothing is happening then it’s usually a browser issue, if you’re using a windows PC and you don’t know what browser your using odds are its Internet Explorer. If you’re using a mac its probably safari, alternatively you maybe using Google Chrome or Firefox, these don’t come preloaded normally so if you don’t remember installing them you’re probably using Internet Explorer or Chrome.</p>

                    <h3><a href="visit http:// www.mozilla.com">To download the latest version of Firefox</a></h3>
                    <h3><a href="http://www.google.com/chrome">To download the latest version of Google Chrome</a></h3>
                    <h3><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">To download the latest version of Internet Explorer</a></h3>
                    <p>If you have updated your browser but it’s still not opening make sure that you’re not just downloading the tickets instead of opening them, you can check this by:</p>
                    <p><a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95758">Google Chrome : http://support.google.com/chrome/bin/answer.py?hl=en&answer=95758</a></p>
                    <p><a href="http://docs.info.apple.com/article.html?path=Safari/3.0/en/9337.html">Safari (MAC) : http://docs.info.apple.com/article.html?path=Safari/3.0/en/9337.html</a></p>
                    <p><a href="http://support.mozilla.org/en-US/kb/Downloads%20window">Firefox : http://support.mozilla.org/en-US/kb/Downloads%20window</a></p>

                    <h3>You can see the ticket(s) but can’t print them.</h3>
                    <p>If you’re able to view your ticket(s), that’s a great start! Please check that your printer is turned on and ready to print. Since you can see your ticket, try to print by right clicking your mouse to send the prompt to your printer. If you’re clicking on the VIEW/PRINT button and your tickets aren’t opening, it’s likely that your computer is not equipped with the necessary software to view and print your tickets. To download or update to the most current Adobe Reader Software, please visit Adobe.com and follow the steps to download/update this software.</p>

                    <h3>You can see the ticket(s) but can’t print them.</h3>
                    <p>This means that your computer is not recognising the Adobe Reader Software properly. Try to reinstall the software by visiting Adobe.com. Keep in mind, we always have a way to resend your tickets to you as a PDF attachment. If you’d like to discuss any of these problems with a ticketbooth team member send us a support ticket or give us a buzz on 1-XXX-XXX-XXXX</p>
                </accordion-group>

                <accordion-group is-open="isopen.four">
                    <accordion-heading >
                        I’m receiving an error while trying to purchase tickets ?
                        <i class="pull-right" ng-class="icon[isopen.four]"></i>
                    </accordion-heading>
                    <p>There can be a number of reasons why your getting an error during checkout. (browser settings, failed authorisation, gateway problem, incorrect merchant account of the organiser and etc.). If you are receiving an error during checkout, email us so we can further investigate.</p>
                    <p>1. Visit <a href="http://ticketvow.com">http://ticketvow.com</a></p>
                    <p>2. Input the email address you used to purchase tickets, and then enter your password.</p>
                    <p><i>If you have forgotten your password please use the “Forgot your password?” link underneath the Log In Button.</i></p>
                    <p>3. Select the name you wish to make the change on.</p>
                    <p>4. Follow the prompts.</p>
                    <p>If you’re having trouble making the change, please fill in the form <a href="#">here</a>. </p>

                    <h3>Ticketbooth does not accept name changes over the phone.</h3>
                </accordion-group>

                <accordion-group is-open="isopen.six">
                    <accordion-heading >
                        How can I upgrade my ticket?
                        <i class="pull-right" ng-class="icon[isopen.six]"></i>
                    </accordion-heading>
                    <p>Because we value your security, Ticketbooth does not store your financial information in our system therefore we will not be able to create additional charge to your card for the same transaction. We suggest you to contact the event organiser for ticket upgrade approval. </p>
                    <p>Once approved, kindly repurchase your preferred ticket/s and then contact us (include approval email) so we can cancel and refund your previous ticket/s. Please note, booking fees are non-refundable.</p>
                    <p><i>Note: Please use the <b>same email</b> as your first order at checkout so the tickets will fall within the same account.</i></p>
                    <p>This will allow us to action a swap of orders. This is imperative because if you fail to do so, we will be not able to swap or refund any tickets.</p>
                </accordion-group>

                <accordion-group is-open="isopen.seven">
                    <accordion-heading >
                        Do I need to show the credit card used for payment on entry?
                        <i class="pull-right" ng-class="icon[isopen.seven]"></i>
                    </accordion-heading>
                    <p>No. Most organisers requires a valid photo ID with the ticket name that exactly matches the name on the ID.</p>
                </accordion-group>
              </accordion>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>