<div class="container-fluid header-image-div">
    <div class="home-img-div starting-div">
        <div class="information-home-div home-back-img-common">
            <div class="header-label-div text-center">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="header-description">Event Ticketing For Professionals</div>
                    <div class="header-title">Event ticketing that’s simple, powerful,and for any event of any size.</div>
                    <div class="header-button-div"><a class="btn header-link-button" href="/get_started">GET STARTED</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-color overlay-div">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Get Started</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container padding-top-40 overlay-div">

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Millions of tickets sold with Ticketvow – Event Ticketing</h2>

            <p>Ticketvow can help you run your event operations like a pro. Sell online or in person, take payments anywhere, check inventory, make event updates in real time, & utilize options for daily deposits.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="callout-header bgcolor-blue" role="note"></div>
            <div class="solid-border-div">
                <a class="color-gray" href="/ticket_sale">
                    <h3>Online Ticket Sales</h3>
                    <p>Sell tickets to fans with a customisable event ticketing page.</p>
                    <span>LEARN MORE &gt;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="callout-header bgcolor-purple" role="note"></div>
            <div class="solid-border-div">
                <a class="color-gray" href="/box">
                    <h3>Box Office System</h3>
                    <p>The box office system that can be used anywhere.</p>
                    <span>LEARN MORE &gt;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="callout-header bgcolor-lime" role="note"></div>
            <div class="solid-border-div">
                <a class="color-gray" href="venue_ticket">
                    <h3>Facebook Event Ticketing</h3>
                    <p>Sell tickets directly from your event's Facebook page.</p>
                    <span>LEARN MORE &gt;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="callout-header bgcolor-green" role="note"></div>
            <div class="solid-border-div">
                <a class="color-gray" href="/auditing">
                    <h3>Event Auditing & Reporting</h3>
                    <p>Powerful ticket sales reporting that makes sense.</p>
                    <span>LEARN MORE &gt;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="callout-header bgcolor-orange" role="note"></div>
            <div class="solid-border-div">
                <a class="color-gray" href="/ticket_scanning">
                    <h3>Ticket Scanning</h3>
                    <p>Fast and simple scanning technology to get fans in fast.</p>
                    <span>LEARN MORE &gt;</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="callout-header bgcolor-pink" role="note"></div>
            <div class="solid-border-div">
                <a class="color-gray" href="/event_marketing">
                    <h3>Event Marketing</h3>
                    <p>Advanced event marketing technology that will help you sell out.</p>
                    <span>LEARN MORE &gt;</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-xs-12 text-center">
            <h2 class="t-title-office">An event ticketing system for your every need.</h2>
            <p>Our ticketing platform is one of the most sophisticated in the world, with more features than we can count it won’t let you down.</p>
        </div>

        <div class="col-sm-6 color-gray">
            <div class="specification-div">
                <span>Accessible 24 hours a day, on all devices</span>
            </div>
            <div class="specification-div">
                <span>Create and post events from your account in minutes</span>
            </div>
            <div class="specification-div">
                <span>Full data ownership of your customers information</span>
            </div>
            <div class="specification-div">
                <span>Use your own merchant account to collect sales</span>
            </div>
        </div>
        <div class="col-sm-6 color-gray">
            <div class="specification-div">
                <span>Custom branded event pages</span>
            </div>
            <div class="specification-div">
                <span>Control user access to your account</span>
            </div>
            <div class="specification-div">
                <span>Create ticket bundles for group tickets</span>
            </div>
            <div class="specification-div">
                <span>Create Recurring events for shows with multiple dates</span>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-xs-12">
            <h2 class="t-title-office">Creating & Posting Events</h2>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Accessible 24 hours a day, on all devices</span>
            </div>
            <div class="specification-div">
                <span>Setup single events or create event series</span>
            </div>
            <div class="specification-div">
                <span>Full HTML editor for event descriptions</span>
            </div>
            <div class="specification-div">
                <span>Set custom sales close dates</span>
            </div>
            <div class="specification-div">
                <span>Add posters to your event page for syndication</span>
            </div>
            <div class="specification-div">
                <span>Step by step wizard for creating events</span>
            </div>
        </div>
        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Create multiple price levels per event</span>
            </div>
            <div class="specification-div">
                <span>Allow customers to “name their own price”</span>
            </div>
            <div class="specification-div">
                <span>Set venue inventory limit to stop oversell</span>
            </div>
            <div class="specification-div">
                <span>Create ticket bundles for group tickets</span>
            </div>
            <div class="specification-div">
                <span>Up-sell merchandise with tickets</span>
            </div>
        </div>
        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Use branded print-at-home tickets</span>
            </div>
            <div class="specification-div">
                <span>Use mobile (sms) tickets to reduce paper</span>
            </div>
            <div class="specification-div">
                <span>Event guest list for smaller events</span>
            </div>
            <div class="specification-div">
                <span>Registered post option for large events</span>
            </div>
            <div class="specification-div">
                <span>Will call option for late ticket buyers (optional)</span>
            </div>
        </div>
        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Accept donations alongside tickets</span>
            </div>
            <div class="specification-div">
                <span>Option to absorb ticketing fees</span>
            </div>
            <div class="specification-div">
                <span>Create private events from public</span>
            </div>
            <div class="specification-div">
                <span>Specify custom event url</span>
            </div>
            <div class="specification-div">
                <span>Set ticket note for buyers</span>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-xs-12">
            <h2 class="t-title-office">Manage Your Ticket Sales</h2>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Custom look events pages to match your branding</span>
            </div>
            <div class="specification-div">
                <span>Create custom questions for attendees for more info.</span>
            </div>
            <div class="specification-div">
                <span>Make waitlists for fans that missed out on tickets.</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Create ballot pages for extremely popular events</span>
            </div>
            <div class="specification-div">
                <span>Create and manage merchandise pricing, inventory and shipping</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Offer flat rate or percentage based discount coupon codes</span>
            </div>
            <div class="specification-div">
                <span>Create complimentary coupons for VIPs for access to free tickets</span>
            </div>
            <div class="specification-div">
                <span>Generate pre-sale codes for fans for early access to ticket sales</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Create reserve code coupons to provide access to reserved seats for VIPs</span>
            </div>
            <div class="specification-div">
                <span>Automatic discounts can be applied to orders above a limit you set</span>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-xs-12">
            <h2 class="t-title-office">Connect Your Online Ticket Sales</h2>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Connect ticketing to your event facebook page</span>
            </div>
            <div class="specification-div">
                <span>Send tweets directly from the ticketing admin</span>
            </div>
            <div class="specification-div">
                <span>Embed the checkout widget in your website</span>
            </div>
            <div class="specification-div">
                <span>Place the upcoming events widget on blog or site.</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Add Facebook Conversion Tracking for your ticket sales</span>
            </div>
            <div class="specification-div">
                <span>Build a Facebook custom audience from event page visitors</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Google analytics integration for up to the second stats</span>
            </div>
            <div class="specification-div">
                <span>Connect Google adwords for conversion tracking.</span>
            </div>
            <div class="specification-div">
                <span>Double click floodlight for site take over stats.</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Adroll integration for facebook ads and twitter.</span>
            </div>
            <div class="specification-div">
                <span>Connect segment.io for 100s of other integrations.</span>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-xs-12">
            <h2 class="t-title-office">Customer CRM</h2>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Full customer CRM for all ticket purchasers</span>
            </div>
            <div class="specification-div">
                <span>Live search of all customer details for quick reference</span>
            </div>
            <div class="specification-div">
                <span>Full retention of customer data during checkout</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Refund customers via admin panel</span>
            </div>
            <div class="specification-div">
                <span>Resend tickets or receipts</span>
            </div>
            <div class="specification-div">
                <span>Adjust customer details as necessary</span>
            </div>
            <div class="specification-div">
                <span>Reset customers barcodes on lost or stolen tickets.</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Records customers notes on sales for staff.</span>
            </div>
            <div class="specification-div">
                <span>Swap ticket types for incorrect orders or wrong dates.</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Change delivery method on orders and re-issue.</span>
            </div>
            <div class="specification-div">
                <span>Add additional charges for name changes or tickets swaps.</span>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <div class="col-xs-12">
            <h2 class="t-title-office">Reporting</h2>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Custom report builder</span>
            </div>
            <div class="specification-div">
                <span>Settlement reports (payouts)</span>
            </div>
            <div class="specification-div">
                <span>Invoice reports for BYO Sellers</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Additional Fee & Discount Report</span>
            </div>
            <div class="specification-div">
                <span>Admissions Report</span>
            </div>
            <div class="specification-div">
                <span>Box Office Sales Report</span>
            </div>
            <div class="specification-div">
                <span>Coupon Usage</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Custom Question Response</span>
            </div>
            <div class="specification-div">
                <span>Customers By Registration Date</span>
            </div>
            <div class="specification-div">
                <span>Event Audit Report</span>
            </div>
            <div class="specification-div">
                <span>Event Totals By Venue</span>
            </div>
        </div>

        <div class="col-sm-3 color-gray">
            <div class="specification-div">
                <span>Fulfillment Reports</span>
            </div>
            <div class="specification-div">
                <span>Mailing Reports</span>
            </div>
            <div class="specification-div">
                <span>Refund Reports By Event</span>
            </div>
            <div class="specification-div">
                <span>Tracking Tag Reports</span>
            </div>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button blue-button" href="/ticketing/contact-sales/">TALK TO US</a>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Contact us to find out more if BoostedTix is right for your event.</h2>

            <p>Ticketvow empowers thousands of events organisers, to sell more tickets than ever before.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button white-button" href="/get_started">GET STARTED NOW</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>