<div class="container-fluid header-image-div">
    <div class="home-img-div">
        <div class="information-home-div home-back-img-common">
            <div class="header-label-div">
                <div class="col-sm-7 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="header-description">BOOK NOW PAY LATER – PAYMENT PLAN SYSTEM</div>
                    <div class="header-title">Allow fans to book now pay later.</div>
                    <div class="header-description hidden-xs">Allow purchasers to spread their payments over a period of months and instalments, allowing those even on a tight budget to have access to your tickets.</div>
                </div>
                <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <img src="assets/images/services/payment1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-color overlay-div">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Payment Plan</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container padding-top-40 overlay-div">

    <div class="row sub-title">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/venues11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Easy Setup For Fans</h3>
                    <p>No painful signups or hoops to jump through, fans simply select payment plan when purchasing.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/venues18.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Automatic Payments Calculation</h3>
                    <p>Ticketvow automatically calculates what remains to be paid keeping it simple for fans.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/payment11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Make Your Purchase</h3>
                    <p>Ticketvow boast some of the highest security in the industry with full PCI compliance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/payment12.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Simple Payment Plan Management</h3>
                    <p>Ticketvow automatically manages expired cards and alerts customers to updates.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h1 class="faq-title text-center">FEATURES</h1>
        <div class="col-md-6">
            <img src="assets/images/services/promoter2.png" alt="" />
        </div>
        <div class="col-md-6">
            <h2 class="t-title-office">Flexible Payment Setups</h2>

            <p>Giving your customers the option to buy tickets at a lower immediate cost can be a major boost to your sales. Make sure you’re converting every sale possible by designing a custom payment plan that’ll help them buy now and pay later, with
                an uptake as much as 30% in some cases payment plans can really drive those important early ticket sales and build your events momentum.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button blue-button" href="/ticketing/get-started/">GET STARTED</a>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Ticketvow is the solution for online ticket sales.</h2>

            <p>Ticketvow powers thousands of events nation wide, with millions of tickets sold each</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button white-button" href="/ticketing/contact-sales/">CONTACT SALES</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>