<div class="container-fluid header-image-div">
    <div class="home-img-div">
        <div class="information-home-div home-back-img-common">
            <div class="header-label-div col-sm-6 col-xs-10">
                <div class="header-description hidden-xs">TICKETVOW FOR VENUES</div>
                <div class="header-title">Take Control Of Your Ticketing Operations</div>
                <div class="header-button-div"><a class="btn header-link-button" href="/get_started">GET STARTED</a></div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Venues</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container about-pg-2">
    <div class="row sub-title">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/venues11.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Whitelabel Partner Account</h3>
                    <p>Whitelabel the Ticketvow ticketing platform for your venue, masquerading as a complete custom solution.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/venues12.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Let Your Patrons Pay Online</h3>
                    <p>Collect money from attendees with credit card sales, Paypal and more.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/venues13.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Customise Your Event Page</h3>
                    <p>You have full control of the look of your event pages, highlighting your brand not ours.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="small-img-div"><img src="assets/images/services/venues13.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Fully Customised Ticketing</h3>
                    <p>Offer multiple ticket types, discount codes, merchandise and ticket bundles to fans.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h1 class="t-title-office">WHY Ticketvow?</h1>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Ticketing Platform.</h2>

        <p>Ticketvow offers a white label solution for venues that allows a complete rebrand of the ticketing platform enabling you to manage and control your entire ticketing operations under the guise of your own system.</p>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues14.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Upsell and Cross Sell Events</h3>
                    <p>Offer an up-sell ticket at the point of checkout based on the contents of the customers shopping cart.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues15.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Sell Your Tickets Anywhere Anytime</h3>
                    <p>Our ticketing solution supports sales online, on mobile devices, Facebook and through box office.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues16.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Reserved Seating and General Admission</h3>
                    <p>Ticketvow allows venues with reserved seating to offer Pick Your Own Seat or Best Available.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues17.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Products and Non-Ticket Items</h3>
                    <p>Sell items like t-shirts, posters and meal or drink vouchers either separate or as a bundled package with tickets.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/venues1.jpg" alt="" />
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Simple and Secure For Fans.</h2>

        <p>We know your customers and we’ve built our platform to offer the best ticketing experience.</p>

        <div class="col-md-6">
            <img src="assets/images/services/venues2.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues18.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>No Signup Required To Purchase</h3>
                    <p>Purchasing tickets should be easy, so customers are automagically created an account upon purchasing tickets.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues18.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Easy Delivery Options</h3>
                    <p>Allow customers to select from E-Ticket, Registered Post, Mobile (SMS & Passbook) for the most convenient option.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues19.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Ticketvow Support Team</h3>
                    <p>Rest easy knowing your customers have a support team a call or email away from our friendly Ticketvow support team.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-title">
        <h2 class="t-title-office">Complete Control of Ticketing Operations</h2>

        <p>Ticketvow gives your venue complete oversight and control of your ticketing operations including:</p>

        <div class="col-md-6">
            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues20.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Merchant Accounts</h3>
                    <p>Have ticketing funds processed via your own merchant account. giving you access to ticketing funds straight away.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues21.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Promoter Management</h3>
                    <p>Specify access levels for promoters limiting access to reports, comps and other areas.</p>
                </div>
            </div>

            <div class="table-div">
                <div class="left-cell-div"><img src="assets/images/services/venues22.png" alt="" /></div>
                <div class="right-cell-div">
                    <h3>Industry Leading Scanning Tech</h3>
                    <p>Scanning technology that makes admitting patrons simple and quick for door staff.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/services/venues3.jpg" alt="" />
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button blue-button" href="/get_started">GET STARTED</a>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <h2 class="t-title-office">Ticketvow Event Ticketing Is The First Choice For Venues</h2>

            <p>Our ticketing solution provides all of the necessities to manage your venues ticket sales simply and effectively.</p>
        </div>
    </div>

    <div class="row sub-title text-center">
        <div class="col-xs-12">
            <a class="btn header-link-button white-button" href="/ticketing/contact-sales/">CONTACT SALES</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-include="'view/templates/footer.html'"></div>