

<div class="shop-banner-details shop-banner-back">
<div class="effect-over-dresses"></div>
    <div class="container">
      <div class="col-lg-12">
       <!--<div class="about-content-icon"><span class="icon-browser"></span></div>-->
       <h1 class="product-topsub-title">BIG SALE - THIS WEEK ONLY</h1>
       <h1 class="product-top-title">Product<span class="color-txt"> Details</span></h1>
      </div>
    </div> 
</div>
<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li>
                        <a href="#/shop_dresses">Shop</a>
                    </li>
                    <li class="active">Product details</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div id="product_dresses" class="container shop-dresses">
      <div class="row">
        <div id="single-prod-top" class="prod-top-img col-md-12">
         <div class="col-md-4 pp-cont-det">
              <div class="details-single-img dresses-single-b">
                <img ng-src="images/store/{{product.src}}" alt="{{product.name}}"/>
              </div>
              <span class="number-prodsingle-cart" ng-show="cart.getTotalCount(product.code) > 0">N&#176; {{cart.getTotalCount(product.code)}}</span>
              <span class="onsale" ng-show='product.discount != null'>
                <span>{{product.discount}}</span>
            </span>
          </div>
          <div class="col-md-8 det-info-prod">
             <div class="single-prod-info">
               <div class="det-dres">
                 <span class="product-name-title">{{product.name}}</span>
                <a class="subtitle" href="">( {{product.category}} ) </a>
                </div>
                <span class="shop-price"> {{product.price | currency : "$"}} </span>
             </div>
             <div class="single-prod-description">
               {{product.description}}
             </div>
             <div class="details-material_dresses">
              <ul>
                <li class="size-prod">
                   <p>Select Size</p>
                    <md-radio-group class="radio-size" ng-model="detail.size_selected">
                        <md-radio-button ng-show='detail.size.s1.value != null' type="radio" name="Size1" value="{{detail.size.s1.value}}"  aria-label="Red">{{detail.size.s1.value}}</md-radio-button>
                        <md-radio-button ng-show='detail.size.s2.value != null' type="radio" name="Size2" value="{{detail.size.s2.value}}"  aria-label="Black">{{detail.size.s2.value}}</md-radio-button>
                        <md-radio-button ng-show='detail.size.s3.value != null' type="radio" name="Size3" value="{{detail.size.s3.value}}"  aria-label="Black">{{detail.size.s3.value}}</md-radio-button>
                        <md-radio-button ng-show='detail.size.s4.value != null' type="radio" name="Size4" value="{{detail.size.s4.value}}"  aria-label="Black">{{detail.size.s4.value}}</md-radio-button>
                    </md-radio-group>
                </li>
                <li class="color-prod">
                     <p>Select Color</p>
                     <md-radio-group class="radio-color" ng-model="detail.color_selected">
                        <md-radio-button ng-show='detail.color.c1.value != null' type="radio" name="Color1" value="{{detail.color.c1.value}}"  aria-label="Color 1">{{detail.color.c1.value}}</md-radio-button>
                        <md-radio-button ng-show='detail.color.c2.value != null' type="radio" name="Color2" value="{{detail.color.c2.value}}"  aria-label="Color 2">{{detail.color.c2.value}}</md-radio-button>
                    </md-radio-group>
                <!--<pre>
                    {{ detail }}
                </pre>-->
                
                </li>
              </ul>
             </div>
             <div class="single-prod-button">
                 <button 
                    class="btn btn-lg btn-primary" 
                    ng-click="cart.addItem(product.code, product.name, product.src, product.price, 1)">
                    <i class="icon-shopping-cart icon-white" /> Add to cart
                </button>
                <button 
                    class="btn btn-lg btn-primary" 
                    ng-click="cart.addItem(product.code, product.name, product.src, product.price, -10000)"
                    ng-disabled="cart.getTotalCount(product.code) < 1">
                    <i class="icon-trash icon-white" /> Remove from cart
                </button>
                <button 
                    class="btn btn-lg btn-primary bt-back" 
                    onclick="window.location.href='#/shop_dresses'">
                    <i class="icon-chevron-left" /> back to store
            </button>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="container">
    <div class="row content-chose-dress">
            <div class="col-md-12">
                <h3>Chose for you</h3>
                <div carouselprod id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <img src="images/store/product/dresses/1.jpg" alt="" /> 
                        <p>Brionet P.</p>
                        <a class="subtitle" href="">Shirt</a>
                    </div>
                    <div class="item">
                        <img src="images/store/product/dresses/2.jpg" alt="" />
                        <p>Jhon Doe</p>
                        <a class="subtitle" href="">Blouses</a>
                    </div>
                    <div class="item">
                        <img src="images/store/product/dresses/3.jpg" alt="" />
                        <p>Serper Tos</p>
                        <a class="subtitle" href="">Sweatshirt</a>
                    </div>
                    <div class="item">
                        <img src="images/store/product/dresses/4.jpg" alt="" />
                        <p>Peter Rol</p>
                        <a class="subtitle" href="">Shirt</a>
                    </div>
                    <div class="item">
                        <img src="images/store/product/dresses/5.jpg" alt="" />
                        <p>Jhon Doe</p>
                        <a class="subtitle" href="">Blouses</a>
                    </div>
                    <div class="item">
                        <img src="images/store/product/dresses/6.jpg" alt="" />
                        <p>Serper Tos</p>
                        <a class="subtitle" href="">Shirt</a>
                    </div>
                </div>
            </div>

    </div>
</div>

