<div id="demo" ng-controller="AdminController_Music">

  <div id="owl-demo" class="owl-carousel container" owlcarousel>
    <div class="item">
      <a href="#/event_details"><img class="img-responsive img-customer" src="images/store/product/swatch.jpg"></a>
    </div>
    <div class="item">
      <a href="#/event_details"><img class="img-responsive img-customer" src="images/store/product/sunglasses.jpg"></a>
    </div>
    <div class="item">
      <a href="#/event_details"><img class="img-responsive img-customer" src="images/team/user1.jpg"></a>
    </div>
    <div class="item">
      <a href="#/event_details"><img class="img-responsive img-customer" src="images/team/user2.jpg"></a>
    </div>
    <div class="item">
      <a href="#/event_details"><img class="img-responsive img-customer" src="images/team/user3.jpg"></a>
    </div> 
  </div>
  <div class="container search-div" ng-controller="AdminController_Music">
    <div class="row">
      <div class="row">
        <div class="col-lg-4 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1">
          <form class="search">
            <input type="text" ng-model="query" ng-change="search('name')" class="search-query" placeholder="Search" style="padding-left: 60px;">
            <span class="glyphicon glyphicon-search manual-glyphicon"></span>
          </form>
        </div>
        <div class="col-lg-3 col-lg-offset-0 col-md-5 col-sm-5 col-xs-10 col-xs-offset-1">
          <form class="search search-category-bar">
            <div class="dropdown" ng-controller="SearchCategoryController">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-category select-list">
                {{selectedItem}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                  Music
                  <ul class="dropdown-menu">
                    <li ng-click="changeCategory('Concert')">Concert</li>
                    <li ng-click="changeCategory('Festival')">Festival</li>
                  </ul>
                </li>
                <li ng-click="changeCategory('Nightlife')">Nightlife</li>
                <li class="dropdown-submenu">
                  Food
                  <ul class="dropdown-menu">
                    <li ng-click="changeCategory('Tasting')">Tasting</li>
                    <li ng-click="changeCategory('Festival')">Festival</li>
                  </ul>
                </li>
                <li ng-click="changeCategory('Entertainment')">Entertainment</li>
                <li class="dropdown-submenu">
                  Sports
                  <ul class="dropdown-menu">
                    <li ng-click="changeCategory('Fitness')">Fitness</li>
                    <li ng-click="changeCategory('Class')">Class</li>
                  </ul>
                </li>
                <li ng-click="changeCategory('Outdoors')">Outdoors</li>
                <li ng-click="changeCategory('Conferences')">Conferences</li>
                <li class="dropdown-submenu">
                  Community
                  <ul class="dropdown-menu">
                    <li ng-click="changeCategory('Meetups')">Meetups</li>
                    <li ng-click="changeCategory('Networking')">Networking</li>
                  </ul>
                </li>
                <li ng-click="changeCategory('Start Ups')">Start Ups</li>
                <li class="dropdown-submenu">
                  Non Profit
                  <ul class="dropdown-menu">
                    <li ng-click="changeCategory('Charity')">Charity</li>
                    <li ng-click="changeCategory('Fund Raising')">Fund Raising</li>
                  </ul>
                </li>
                <li ng-click="changeCategory('Arts')">Arts</li>
                <li ng-click="changeCategory('Theater')">Theater</li>
                <li ng-click="changeCategory('Other')">Other</li>
              </ul>
            </div>
          </form>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <form class="search search-category-bar">
            <input type="text" name="location" placeholder="Location" style="background: none;">
          </form>
        </div>       
      </div>
      <div class="col-lg-12 text-center shop-title-store">
        <h1 class="section-title">EVENT'S NEAR YOU</h1>
      </div>
      <!--List Product-->
      <div id="cbp-vm" class="col-md-12 col-sm-12 col-xs-12 shop-prod active">
        <ul id="product" class="nav-pills nav-stacked rectangle-list">
          <a href="#/event_details">
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-repeat="product in pagedItems[currentPage]">
              <div class="shop-img  services-box-black">
                <div class="store-img-div box-image-div">
                  <img ng-src="images/store/{{product.src}}" alt="{{product.name}}" class="box-image img-responsive" />
                  <span class="performance">
                    <span>June<br>5</span>
                  </span>
                </div>
                <div class="store-content-div">
                  <p class="content">{{product.content}}</p>
                  <p class="stadium">{{product.stadium}}</p>
                  <p class="location">{{product.location}}</p>
                </div>
                <a class="btn btn-block trans-buy-button" href="#/event">
                BUY NOW</a>                      
              </div>
            </li>
          </a>
        </ul>  
      </div>
    </div>
    <div class=" text-center">
      <a href="#" class="btn btn-default btn-lg browse">
      BROWSE MORE</a>
    </div> 
  </div>
  <!-- /.container -->
</div>

<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('.skillbar').each(function () {
      jQuery(this).find('.skillbar-bar').animate({
        width: jQuery(this).attr('data-percent')
      }, 1400);
    });
  });
</script>

<!-- Filter Images-->
<script type="text/javascript">
  $('.filter li').on('click', function () {
    $('li').removeClass('active');
    $(this).addClass('active');
  });
</script>
