<nav id="menu2" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/"><img src="images/logo3.jpg" alt="logo" /></a>
        </div>
        <div class="content-count-cart-header dropdown" ng-controller="storeController">
                    <a href="" title="go to shopping cart" class="dropdown-toggle" data-toggle="dropdown" ng-disabled="cart.getTotalCount() < 1">
                        <i class="fa fa-shopping-cart"></i>
                        <p class="number-prod-cart">{{cart.getTotalCount()}}</p> 
                    </a>
                      <div class="dropdown-menu vertical-li dropdown-prod-cart">
                          <ul>
                           <li ng-repeat="item in cart.items | orderBy:'name'">
                            <div class="col-md-12 minitotal-prod">
                                 <div class="col-md-6 minicart-img" ng-show='item.src != null'> 
                                    <img src="images/store/{{item.src}}" alt="{{item.name}}" />
                                 </div>
                                 
                                 <div class="col-md-6 minicart-data"><p class="mc-name">{{item.name}}</p>
                                  <p>{{item.quantity}} X {{item.price | currency}}</p>
                                 </div>
                            </div>
                           </li>
                          </ul>
                          <div class="separator"></div>
                          <div id="cartInfo"><p class="minucart-price">Subtotal {{cart.getTotalPrice() | currency}}</p></div>
                          <a href="#/cart" id="goToCheckOut">Proceed to purchase</a>
                    </div> 
            </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">
        
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                  <ul class="dropdown-menu vertical-li">
                        <li><a href="#/">Home 1</a></li>
                        <li><a href="#/home2">Home 2</a></li>
                        <li><a href="#/home3">Home 3</a></li>
                        <li><a href="#/home4">Home 4</a></li>
                        <li><a href="#/home5">Home 5</a></li>
                  </ul>
                </li>
                <li><a href="#/services">Services</a>
                </li>
                <li><a href="#/pricing">Pricing Table</a>
                </li>
                <li class="dropdown menu-large"><a class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                      <ul class="menu-items megamenu dropdown-menu">
                        <li class="menu-item col-sm-3">
                            <h3 class="angula-megamenu-title">Page Samples 1</h3>
                            <ul class="mega-sub-menu">
                                <li><i class="fa fa-angle-right"></i><a href="#/about">About Us Page 1</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/about2">About Us Page 2</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/about3">About Us Page 3</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/about4">About Us Page 4</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/meet_team">Meet the Team</a></li>
                            </ul>
                        </li>
                        <li class="menu-item col-sm-3">
                            <h3 class="angula-megamenu-title">Page Samples 2</h3>
                            <ul class="mega-sub-menu">
                                <li><i class="fa fa-angle-right"></i><a href="#/blog">Blog </a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/404">404</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/shop">Shop Page</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/shop_dresses">Shop Dresses</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#/cart">Shopping Cart</a></li>
                            </ul>
                        </li>
                        <li class="menu-item col-sm-6 menu-adwertising">
                            <div class="col-md-6">                              
                                <figure class="hero-image hero-imacretina-1"></figure>
                                <figure class="hero-image hero-imacretina-2"></figure>
                                <figure class="hero-image hero-imacretina-3"></figure>
                                <img class="discount" src="images/discount.png" alt="" />
                            </div>
                            <div class="col-md-6 menu-text-monitor">
                                <p> Start something new.</p>
                                <p><i class="fa fa-angle-right"></i> TV Monitor LED 19" HD</p>
                                <p><i class="fa fa-angle-right"></i> Resolution: 1366x768</p>
                                <p><i class="fa fa-angle-right"></i> Color:	16.7 milion</p>
                            </div>
                        </li>
                      </ul>
                </li>
                <li><a href="#/faq">FAQ</a>
                </li>
                <li><a href="#/contact">Contact</a>
                </li>
                
            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
