<div class="description-title-div ticket-block-div menubar-div">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12">
      <label for="input1" class="label-name required">Event URL</label>
    </div>
    <div class="col-md-8 col-sm-8 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <input type="text" name="event_url" placeholder="Event URL" class="form-control" id="event_url" maxlength="100" value={{event.event_url}} />
    </div>
    <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <a class="btn btn-block trans-buy-button inline-buy-button store-down-bottom" href="">COPY</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12">
      <label for="input1" class="label-name required">Short URL</label>
    </div>
    <div class="col-md-8 col-sm-8 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <input type="text" name="short_url" placeholder="Short URL" class="form-control" id="short_url" maxlength="100" value={{event.short_url}} />
    </div>
    <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <a class="btn btn-block trans-buy-button inline-buy-button store-down-bottom" href="">COPY</a>
    </div>
  </div>
</div>
